nodered/flows.json
[{"id":"ems_tab_core","type":"tab","label":"EMS 01 Core State","disabled":false,"info":""},{"id":"ems_tab_planning","type":"tab","label":"EMS 02 Planning","disabled":false,"info":""},{"id":"ems_tab_battery_grid","type":"tab","label":"EMS 04 Battery Grid Manager","disabled":false,"info":""},{"id":"ems_tab_boiler","type":"tab","label":"EMS 05 Boiler Manager","disabled":false,"info":""},{"id":"ems_mqtt_tab","type":"tab","label":"EMS 00 MQTT Publisher","disabled":false,"info":""},{"id":"ems_debug_logger_tab","type":"tab","label":"EMS 99 Debug Logger","disabled":false,"info":""},{"id":"ems_tab_wallbox","type":"tab","label":"EMS 03 Wallbox Manager","disabled":false,"info":""},{"id":"ems_dispatcher_tab","type":"tab","label":"EMS 06 Dispatcher","disabled":false,"info":""},{"id":"ems_tab_safety","type":"tab","label":"EMS 09 Inverter Grid Safety","disabled":false,"info":""},{"id":"ems_tab_tasks","type":"tab","label":"EMS 07 Task Manager","disabled":false,"info":"Force tasks, weekly battery balance, task state"},{"id":"ems_tab_cost","type":"tab","label":"EMS 08 Cost Meter","disabled":false,"info":"Grid energy/cost per EV"},{"id":"ems_ai_tab","type":"tab","label":"EMS 90 AI komentátor","disabled":false,"info":""},{"id":"dfd2960398e9d1c1","type":"mqtt-broker","name":"","broker":"core-mosquitto","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d6487c47.43254","type":"server","name":"Home Assistant","addon":true},{"id":"ems_core_tick","type":"inject","z":"ems_tab_core","name":"EMS tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["ems_core_build"]]},{"id":"ems_core_build","type":"function","z":"ems_tab_core","name":"build global.ems.core","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = 0) { return states[id]?.state ?? def; }\nfunction b(id) { return states[id]?.state === 'on'; }\n\nlet ems = global.get('ems') || {};\nems.ts = Date.now();\nems.memory = ems.memory || {};\n\nconst now = Date.now();\n\n// Wallbox connection latch/debounce:\n// connected_raw ON  -> latched ON immediately\n// connected_raw OFF -> keep latched ON for 5 minutes, so Finishing/Idle transitions do not look like unplug/replug.\nconst id3ConnectedRaw = b('binary_sensor.ems_id3_wallbox_connected');\nconst id4ConnectedRaw = b('binary_sensor.ems_id4_wallbox_connected');\nems.memory.wallbox_connection = ems.memory.wallbox_connection || {\n    id3_last_seen: 0,\n    id4_last_seen: 0\n};\nconst CONNECTION_HOLD_MS = 5 * 60 * 1000;\nif (id3ConnectedRaw) ems.memory.wallbox_connection.id3_last_seen = now;\nif (id4ConnectedRaw) ems.memory.wallbox_connection.id4_last_seen = now;\nconst id3ConnectedLatched = id3ConnectedRaw || (now - (ems.memory.wallbox_connection.id3_last_seen || 0)) < CONNECTION_HOLD_MS;\nconst id4ConnectedLatched = id4ConnectedRaw || (now - (ems.memory.wallbox_connection.id4_last_seen || 0)) < CONNECTION_HOLD_MS;\n\nems.core = {\n    tariff_backend: 'HDO',\n    hdo_state: String(s('sensor.tman_parc_c_44_17_267_21_tman_stav_hdo', 'unknown')),\n    hdo_nt_start: String(s('sensor.tman_parc_c_44_17_267_21_tman_nizky_tarif_start', '22:35')),\n    hdo_nt_end: String(s('sensor.tman_parc_c_44_17_267_21_tman_nizky_tarif_konec', '06:36')),\n    hdo_nt_intervals_today: String(states['sensor.tman_parc_c_44_17_267_21_tman_spinani_hdo_dnes']?.attributes?.intervaly ?? ''),\n    hdo_next_start: String(states['sensor.tman_parc_c_44_17_267_21_tman_stav_hdo']?.attributes?.dalsi_sepnuti ?? ''),\n\n    ems_enabled: b('input_boolean.ems_enabled'),\n    wallbox_mode: String(s('input_select.ems_wallbox_mode', 'AUTO')).toUpperCase(),\n    wallbox_priority: String(s('input_select.ems_wallbox_priority', 'AUTO')).toUpperCase(),\n    battery_grid_mode: String(s('input_select.ems_battery_grid_mode', 'AUTO')).toUpperCase(),\n    boiler_mode: String(s('input_select.ems_boiler_mode', 'AUTO')).toUpperCase(),\n    ems_winter_mode: b('input_boolean.ems_winter_mode'),\n    ems_allow_grid_charge: b('input_boolean.ems_allow_grid_charge'),\n    ems_allow_solar_loads: b('input_boolean.ems_allow_solar_loads'),\n    ems_live_wallbox: b('input_boolean.ems_live_wallbox'),\n    ems_live_battery_grid: b('input_boolean.ems_live_battery_grid'),\n    ems_live_boiler: b('input_boolean.ems_live_boiler'),\n    ems_live_notifications: b('input_boolean.ems_live_notifications'),\n\n    battery_soc: n(s('sensor.ems_battery_soc')),\n    battery_power: n(s('sensor.ems_battery_power')),\n    pv_power: n(s('sensor.ems_pv_power')),\n    surplus_power: n(s('sensor.ems_surplus_power')),\n    deficit_power: n(s('sensor.ems_deficit_power')),\n    house_power: n(s('sensor.ems_house_load_total')),\n    grid_power: n(s('sensor.ems_grid_power_total')),\n    available_l1: n(s('sensor.ems_available_l1')),\n    available_l2: n(s('sensor.ems_available_l2')),\n    available_l3: n(s('sensor.ems_available_l3')),\n    target_soc: n(s('sensor.ems_battery_target_soc')),\n    effective_min_soc: n(s('sensor.ems_battery_effective_minimum_soc')),\n    hard_min_soc: n(s('input_number.ems_battery_hard_min_soc'), 40),\n    forecast_tomorrow: n(s('sensor.ems_forecast_tomorrow')),\n    forecast_remaining_today: n(s('sensor.ems_forecast_remaining_today')),\n    forecast_day_type_tomorrow: String(s('sensor.ems_forecast_day_type_tomorrow', 'unknown')),\n    tariff_class: String(s('sensor.ems_dynamic_tariff_class', 'unknown')),\n    cheap_grid_usable: b('binary_sensor.ems_cheap_grid_usable'),\n    very_cheap_grid_usable: b('binary_sensor.ems_very_cheap_grid_usable'),\n\n    id3_connected_raw: id3ConnectedRaw,\n    id4_connected_raw: id4ConnectedRaw,\n    id3_connected: id3ConnectedLatched,\n    id4_connected: id4ConnectedLatched,\n    id3_connected_latched: id3ConnectedLatched,\n    id4_connected_latched: id4ConnectedLatched,\n    connection_hold_seconds: CONNECTION_HOLD_MS / 1000\n};\n\n// Battery load hysteresis:\n// turn discretionary loads OFF at effective minimum, allow them again only at target SOC.\nems.memory.battery_load_lock = ems.memory.battery_load_lock || {\n    locked: false,\n    reason: null,\n    since: 0\n};\nconst soc = ems.core.battery_soc;\nconst effectiveMin = ems.core.effective_min_soc;\nconst targetSoc = ems.core.target_soc;\nconst validBatteryNumbers = soc > 0 && effectiveMin > 0 && targetSoc > 0;\nif (validBatteryNumbers && soc <= effectiveMin) {\n    ems.memory.battery_load_lock = {\n        locked: true,\n        reason: 'battery_at_effective_minimum',\n        since: ems.memory.battery_load_lock.since || now\n    };\n}\nif (validBatteryNumbers && soc >= targetSoc) {\n    ems.memory.battery_load_lock = {\n        locked: false,\n        reason: null,\n        since: 0\n    };\n}\nems.core.battery_load_locked = !!ems.memory.battery_load_lock.locked;\nems.core.battery_load_lock_reason = ems.memory.battery_load_lock.reason;\nems.core.battery_load_lock_since = ems.memory.battery_load_lock.since;\nems.core.battery_load_unlock_soc = targetSoc;\n\nems.core.any_car_connected = ems.core.id3_connected || ems.core.id4_connected;\nems.core.battery_above_effective_min = ems.core.battery_soc > ems.core.effective_min_soc && !ems.core.battery_load_locked;\nems.core.battery_above_hard_min = ems.core.battery_soc > ems.core.hard_min_soc;\n\nglobal.set('ems', ems);\nmsg.topic = 'ems/core';\nmsg.payload = ems.core;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["ems_core_debug","49db06ea23dd65d8"]]},{"id":"ems_core_debug","type":"debug","z":"ems_tab_core","name":"global.ems.core","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":120,"wires":[]},{"id":"49db06ea23dd65d8","type":"link out","z":"ems_tab_core","name":"link out 7","mode":"link","links":["ems_debug_logger_in"],"x":635,"y":180,"wires":[]},{"id":"ems_plan_tick","type":"inject","z":"ems_tab_planning","name":"EMS plan tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["ems_plan_build"]]},{"id":"ems_plan_build","type":"function","z":"ems_tab_planning","name":"build global.ems.plan HDO spread v10 own-load-fix","func":"function n(v, def = 0) {\n    if (v === null || v === undefined) return def;\n    const raw = String(v).trim().replace(',', '.');\n    const m = raw.match(/-?\\d+(\\.\\d+)?/);\n    const x = m ? Number(m[0]) : Number(raw);\n    return Number.isFinite(x) ? x : def;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = undefined) { return states[id]?.state ?? def; }\nfunction b(id) { return states[id]?.state === 'on'; }\nfunction parseDateTime(id) { const v = s(id, ''); const t = Date.parse(v); return Number.isFinite(t) ? t : null; }\nfunction requiredToTarget(requiredTo100, currentSoc, targetSoc) {\n    requiredTo100 = n(requiredTo100); currentSoc = n(currentSoc); targetSoc = n(targetSoc, 100);\n    if (requiredTo100 <= 0 || targetSoc <= currentSoc || currentSoc >= 99) return 0;\n    return requiredTo100 * ((targetSoc - currentSoc) / (100 - currentSoc));\n}\nfunction fmtTime(ts) { return new Date(ts).toLocaleTimeString('cs-CZ', {hour:'2-digit', minute:'2-digit'}); }\nfunction parseHmToMinutes(v, def) { const m=String(v||'').match(/^(\\d{1,2}):(\\d{2})$/); return m ? Number(m[1])*60+Number(m[2]) : def; }\nfunction round1(v){return Math.round(n(v)*10)/10;}\nfunction clamp(v,min,max){return Math.max(min,Math.min(max,v));}\nfunction roundUpTo(v, arr){ for (const x of arr) if (v <= x) return x; return arr[arr.length-1]; }\nfunction powerFromWallboxCurrent(a){ return n(a) * 230 * 3 / 1000; } // kW\nfunction powerFromBatteryCurrent(a){ return n(a) * 60 / 1000; } // kW, battery charge-current estimate used elsewhere\nfunction loadActive(load, now){ return !!(load && load.enabled && load.start_ts && load.end_ts && now >= load.start_ts && now < load.end_ts); }\n\nlet ems = global.get('ems') || {};\nconst core = ems.core || {};\nconst now = Date.now();\n\nfunction hdoWindowsForNextHours(hours = 36) {\n    const horizonEnd = now + hours * 3600000;\n    const out = [];\n    const startMin = parseHmToMinutes(core.hdo_nt_start, 22*60+35);\n    const endMin = parseHmToMinutes(core.hdo_nt_end, 6*60+36);\n    const startDay = new Date(now); startDay.setHours(0,0,0,0);\n    const marginMs = 5 * 60 * 1000;\n    for (let dayOffset=-1; dayOffset<=2; dayOffset++) {\n        const base = new Date(startDay); base.setDate(base.getDate()+dayOffset);\n        const start = new Date(base); start.setHours(Math.floor(startMin/60), startMin%60, 0, 0);\n        const end = new Date(base); if (endMin <= startMin) end.setDate(end.getDate()+1); end.setHours(Math.floor(endMin/60), endMin%60,0,0);\n        const usableStart = start.getTime() + marginMs;\n        const usableEnd = end.getTime() - marginMs;\n        if (usableEnd <= now || usableStart >= horizonEnd || usableEnd <= usableStart) continue;\n        out.push({\n            start_ts: Math.max(usableStart, now), end_ts: Math.min(usableEnd, horizonEnd),\n            start_fixed_ts: usableStart, end_fixed_ts: usableEnd,\n            raw_start_ts: start.getTime(), raw_end_ts: end.getTime(),\n            start: fmtTime(Math.max(usableStart, now)), end: fmtTime(Math.min(usableEnd, horizonEnd)),\n            start_fixed: fmtTime(usableStart), end_fixed: fmtTime(usableEnd),\n            class: 'cheap', discount: -10, label: 'hdo_nt_spread', priority: 1\n        });\n    }\n    return out.sort((a,b)=>a.start_fixed_ts-b.start_fixed_ts);\n}\n\nfunction currentNtRemainingHours() {\n    if (String(core.hdo_state || '').toUpperCase() !== 'NT') return null;\n    const endMin = parseHmToMinutes(core.hdo_nt_end, 6*60+36);\n    const d = new Date(now);\n    let end = new Date(d);\n    end.setHours(Math.floor(endMin/60), endMin%60, 0, 0);\n    if (end.getTime() <= now) end.setDate(end.getDate() + 1);\n    return Math.max((end.getTime() - now) / 3600000, 0);\n}\n\nfunction earliestDeadlineTs(planLike) {\n    const d=[];\n    for (const id of ['id3','id4']) {\n        const c=planLike.cars?.[id];\n        if (c?.connected && c.required_kwh>0.5 && c.use_departure && c.departure_ts && c.departure_ts>now) d.push(c.departure_ts);\n    }\n    return d.length ? Math.min(...d) : null;\n}\nfunction priorityScore(id, car, wallboxPriority) {\n    if (wallboxPriority === id.toUpperCase()) return -100000;\n    if (car.use_departure && car.departure_ts && car.departure_ts > now) return car.departure_ts - now;\n    return 10**12 - n(car.required_kwh)*1000000;\n}\n\nfunction forecastKwhAvailableBeforeDeadline(deadlineTs) {\n    if (!deadlineTs || deadlineTs <= now) return 0;\n    const hoursToDeadline = (deadlineTs - now) / 3600000;\n    const houseDailyKwh = n(s('input_number.ems_house_daily_consumption_kwh'), 15);\n    const safetyReserveKwh = n(s('input_number.ems_house_daily_reserve_kwh'), 5);\n    const remainingToday = Math.max(n(core.forecast_remaining_today), 0);\n    const tomorrow = Math.max(n(core.forecast_tomorrow), 0);\n\n    // Hrubý, konzervativní odhad použitelné FV do odjezdu.\n    // Do 18 h bereme deadline jako brzký - nespoléhat na další denní FV.\n    if (hoursToDeadline <= 18) return 0;\n\n    let pv = remainingToday;\n\n    // Když je odjezd až po zítřejším solárním dni, můžeme započítat zítřek.\n    const tomorrowStart = new Date(now);\n    tomorrowStart.setDate(tomorrowStart.getDate() + 1);\n    tomorrowStart.setHours(0, 0, 0, 0);\n    const tomorrowEvening = new Date(tomorrowStart);\n    tomorrowEvening.setHours(18, 0, 0, 0);\n\n    if (deadlineTs >= tomorrowEvening.getTime()) {\n        pv += tomorrow;\n    }\n\n    // Necháme energii pro dům a rezervu, zbytek může realisticky pomoct autům.\n    // Pro dnešní zbytek dne počítáme cca půl denní spotřeby, pro zítřek celý den.\n    const dayReserve = deadlineTs >= tomorrowEvening.getTime()\n        ? houseDailyKwh + safetyReserveKwh\n        : (houseDailyKwh * 0.5 + safetyReserveKwh);\n\n    return Math.max(pv - dayReserve, 0);\n}\n\nfunction splitGridDeficitAmongDeadlineCars(totalGridNeed, deadlineCars, wallboxPriority) {\n    const out = { id3: 0, id4: 0 };\n    let remaining = Math.max(totalGridNeed, 0);\n    const ordered = [...deadlineCars].sort((a, b) => {\n        const pa = priorityScore(a.id, a, wallboxPriority);\n        const pb = priorityScore(b.id, b, wallboxPriority);\n        return pa - pb || b.required_kwh - a.required_kwh;\n    });\n    for (const c of ordered) {\n        if (remaining <= 0.05) break;\n        const take = Math.min(c.required_kwh, remaining);\n        out[c.id] = take;\n        remaining -= take;\n    }\n    return out;\n}\nfunction buildHdoSpreadPlan(loadNeeds, planLike, maxKw) {\n    let windows = hdoWindowsForNextHours(36);\n    const deadlineTs = earliestDeadlineTs(planLike);\n    if (deadlineTs) {\n        const d = deadlineTs - 5*60*1000;\n        windows = windows.map(w => ({...w, end_ts: Math.min(w.end_ts, d), end_fixed_ts: Math.min(w.end_fixed_ts, d)})).filter(w => w.end_ts > w.start_ts);\n    }\n    const w = windows[0];\n    const emptyLoads = {\n        id3: {enabled:false, need_kwh:round1(loadNeeds.id3||0), current_a:0, planned_kwh:0, active:false, priority:0},\n        id4: {enabled:false, need_kwh:round1(loadNeeds.id4||0), current_a:0, planned_kwh:0, active:false, priority:0},\n        battery: {enabled:false, need_kwh:round1(loadNeeds.battery||0), current_a:0, planned_kwh:0, active:false, priority:0}\n    };\n    const totalNeed = n(loadNeeds.id3)+n(loadNeeds.id4)+n(loadNeeds.battery);\n    if (!w || totalNeed <= 0.05) {\n        return {mode:'hdo_spread', needed_kwh:round1(totalNeed), planned_kwh:0, missing_kwh:round1(totalNeed), max_power_kw:maxKw, status: totalNeed>0.05?'waiting':'none', summary: totalNeed>0.05?'Potřeba energie, ale není vhodné HDO okno':'Není potřeba nic kupovat', deadline_ts:deadlineTs, deadline:deadlineTs?fmtTime(deadlineTs):null, start_ts:null, end_ts:null, start:null, end:null, duration_h:0, loads:emptyLoads, slots:[]};\n    }\n    const durationH = Math.max((w.end_ts - w.start_ts)/3600000, 0);\n    const loads = JSON.parse(JSON.stringify(emptyLoads));\n    const wallboxSteps = [6,8,10,13,16];\n    const batteryMinA = 2;\n    const batteryMaxA = 50;\n    const wallboxPriority = String(core.wallbox_priority || 'AUTO').toUpperCase();\n    const candidates = [];\n    for (const id of ['id3','id4']) {\n        const need = n(loadNeeds[id]);\n        const car = planLike.cars?.[id] || {};\n        if (need > 0.5 && car.connected) {\n            let requiredA = need / Math.max(durationH * 0.69, 0.01);\n            let current = roundUpTo(requiredA, wallboxSteps);\n            // If one car needs a lot and has priority/deadline, do not be afraid to raise it.\n            if (need >= 25 && current < 10) current = 10;\n            else if (need >= 15 && current < 8) current = 8;\n            current = clamp(current, 6, 16);\n            const fullWindowKwh = powerFromWallboxCurrent(current) * durationH;\n            const runHours = Math.min(durationH, need / Math.max(powerFromWallboxCurrent(current), 0.01));\n            candidates.push({id, type:'wallbox', need, current, priority:priorityScore(id, car, wallboxPriority), fullWindowKwh, runHours});\n        }\n    }\n    const battNeed = n(loadNeeds.battery);\n    if (battNeed > 0.5) {\n        let requiredA = battNeed / Math.max(durationH * 0.06, 0.01);\n        let current = Math.ceil(requiredA);\n        if (current > 2 && current < 5) current = 5;\n        // AUTO domácí baterie nemá honit 50 A jen proto, že je NT okno krátké.\n        // 50 A zůstává jen pro FORCE přes Battery Grid Manager mimo tento AUTO spread plán.\n        const autoBatteryMaxA = clamp(n(s('input_number.ems_inverter_grid_charge_current_a'), 10), batteryMinA, batteryMaxA);\n        current = clamp(current, batteryMinA, autoBatteryMaxA);\n        const fullWindowKwh = powerFromBatteryCurrent(current) * durationH;\n        const runHours = Math.min(durationH, battNeed / Math.max(powerFromBatteryCurrent(current), 0.01));\n        candidates.push({id:'battery', type:'battery', need:battNeed, current, priority:5e11, fullWindowKwh, runHours});\n    }\n    candidates.sort((a,b)=>a.priority-b.priority || b.need-a.need);\n\n    // Basic grid guard: keep within configured 3f grid limit minus margin by reducing lowest-priority loads first.\n    const gridPhaseLimitW = n(s('input_number.ems_grid_phase_limit_w'), 4600);\n    const gridSafetyMarginW = n(s('input_number.ems_grid_safety_margin_w'), 800);\n\n    // GRID plán nesmí brát vlastní běžící EMS wallbox jako cizí spotřebu.\n    // Jinak vznikne smyčka: wallbox zvýší odběr -> planner se lekne -> sníží proud -> planner vidí volno -> zvýší proud.\n    const ownWallboxGridW = (states['switch.wallbox_ts']?.state === 'on') ? (\n        (states['switch.tuya_wallbox_2_wallbox_charge_enable']?.state === 'on' ? Math.max(n(s('sensor.tuya_wallbox_2_wallbox_total_power')), 0) : 0) +\n        (states['switch.tuya_wallbox_1_wallbox_charge_enable']?.state === 'on' ? Math.max(n(s('sensor.tuya_wallbox_1_wallbox_total_power')), 0) : 0)\n    ) : 0;\n    const gridPowerForPlanningW = Math.max(n(core.grid_power) - ownWallboxGridW, 0);\n    const maxTotalKw = Math.max((gridPhaseLimitW*3 - gridSafetyMarginW - gridPowerForPlanningW) / 1000, 0);\n    function totalKw() { return candidates.reduce((sum,c)=>sum + (c.type==='wallbox' ? powerFromWallboxCurrent(c.current) : powerFromBatteryCurrent(c.current)), 0); }\n    for (let guard=0; guard<50 && totalKw() > Math.min(maxKw, maxTotalKw); guard++) {\n        const c = [...candidates].sort((a,b)=>b.priority-a.priority || a.need-b.need)[0];\n        if (!c) break;\n        if (c.type === 'battery' && c.current > batteryMinA) c.current -= 1;\n        else if (c.type === 'wallbox') {\n            const idx = wallboxSteps.indexOf(c.current);\n            if (idx > 0) c.current = wallboxSteps[idx-1]; else break;\n        } else break;\n    }\n\n    let planned = 0;\n    for (const c of candidates) {\n        const kw = c.type==='wallbox' ? powerFromWallboxCurrent(c.current) : powerFromBatteryCurrent(c.current);\n        const runHours = Math.min(durationH, c.need / Math.max(kw, 0.01));\n        const endTs = w.start_ts + Math.ceil(runHours * 3600000);\n        loads[c.id] = {\n            enabled: true,\n            need_kwh: round1(c.need),\n            current_a: Math.round(c.current),\n            planned_kwh: round1(Math.min(c.need, kw * durationH)),\n            active: loadActive({enabled:true,start_ts:w.start_ts,end_ts:endTs}, now),\n            priority: candidates.indexOf(c) + 1,\n            start_ts: w.start_ts,\n            end_ts: Math.min(endTs, w.end_ts),\n            start: fmtTime(w.start_ts),\n            end: fmtTime(Math.min(endTs, w.end_ts)),\n            full_window: endTs >= w.end_ts\n        };\n        planned += loads[c.id].planned_kwh;\n    }\n    const missing = Math.max(totalNeed - planned, 0);\n    const summaryParts = [];\n    for (const id of ['id3','id4','battery']) {\n        const l=loads[id]; if (!l.enabled) continue;\n        const label = id === 'battery' ? 'baterka' : id.toUpperCase();\n        summaryParts.push(`${label} ${l.current_a}A ${l.start}–${l.end} ${l.planned_kwh} kWh`);\n    }\n    return {\n        mode:'hdo_spread', needed_kwh:round1(totalNeed), planned_kwh:round1(planned), missing_kwh:round1(missing), max_power_kw:maxKw,\n        deadline_ts:deadlineTs, deadline:deadlineTs?fmtTime(deadlineTs):null,\n        start_ts:w.start_ts, end_ts:w.end_ts, start:fmtTime(w.start_ts), end:fmtTime(w.end_ts), duration_h:round1(durationH),\n        status: missing>0.1?'partial':'planned', summary: summaryParts.join(', ') || 'Není potřeba nic kupovat', loads,\n        slots:[{start_ts:w.start_ts,end_ts:w.end_ts,start:fmtTime(w.start_ts),end:fmtTime(w.end_ts),class:'cheap',discount:-10,label:'hdo_nt_spread',kwh:round1(planned)}]\n    };\n}\n\nconst batteryCapacity = n(s('input_number.ems_battery_capacity_kwh'), 32);\nconst hardMinSoc = n(s('input_number.ems_battery_hard_min_soc'), 40);\nconst id3Soc = n(s('sensor.auto_id4_sniffer_id3_soc_bms'));\nconst id4Soc = n(s('sensor.auto_id4_sniffer_id4_soc_bms'));\nconst id3Target = n(s('input_number.ems_id3_target_soc'), 50);\nconst id4Target = n(s('input_number.ems_id4_target_soc'), 50);\nconst id3ReqTo100 = n(s('sensor.auto_id4_sniffer_id_3_energie_do_100'));\nconst id4ReqTo100 = n(s('sensor.auto_id4_sniffer_id_4_energie_do_100'));\nconst id3Required = requiredToTarget(id3ReqTo100, id3Soc, id3Target);\nconst id4Required = requiredToTarget(id4ReqTo100, id4Soc, id4Target);\nconst id3DepartureRaw = parseDateTime('input_datetime.ems_id3_departure');\nconst id4DepartureRaw = parseDateTime('input_datetime.ems_id4_departure');\nconst id3UseDeparture = b('input_boolean.ems_id3_use_departure_time');\nconst id4UseDeparture = b('input_boolean.ems_id4_use_departure_time');\nconst departureBufferHours = n(s('input_number.ems_departure_buffer_hours'), 1);\nconst departureBufferMs = departureBufferHours * 3600000;\nconst id3Departure = id3DepartureRaw ? id3DepartureRaw - departureBufferMs : null;\nconst id4Departure = id4DepartureRaw ? id4DepartureRaw - departureBufferMs : null;\nconst batteryMissingSoc = Math.max(n(core.target_soc) - n(core.battery_soc), 0);\nconst batteryMissingKwh = batteryCapacity * batteryMissingSoc / 100;\nconst carRequiredTotal = id3Required + id4Required;\nconst connectedCarRequiredTotal = (core.id3_connected ? id3Required : 0) + (core.id4_connected ? id4Required : 0);\nconst winter = !!core.ems_winter_mode;\nconst allowSolarLoads = !!core.ems_allow_solar_loads;\nconst allowGridCharge = !!core.ems_allow_grid_charge;\nconst bad = core.forecast_day_type_tomorrow === 'bad';\nconst normal = core.forecast_day_type_tomorrow === 'normal';\nconst sunny = core.forecast_day_type_tomorrow === 'sunny';\nconst wallboxMode = String(core.wallbox_mode || 'AUTO').toUpperCase();\nconst wallboxPriority = String(core.wallbox_priority || 'AUTO').toUpperCase();\nconst batteryGridMode = String(core.battery_grid_mode || 'AUTO').toUpperCase();\nconst totalMissingEnergy = batteryMissingKwh + connectedCarRequiredTotal;\nlet urgency = 'low'; if (totalMissingEnergy >= 25 || bad) urgency = 'high'; else if (totalMissingEnergy >= 10) urgency = 'normal';\n\nlet baseCarSolar = allowSolarLoads && core.battery_above_effective_min && core.any_car_connected && (sunny || (normal && !winter));\nlet allowCarSolar = false;\nlet allowCarGrid = false;\nif (!core.ems_enabled || wallboxMode === 'OFF') { allowCarSolar=false; allowCarGrid=false; }\nelse if (wallboxMode === 'SOLAR') { allowCarSolar=baseCarSolar; allowCarGrid=false; }\nelse if (wallboxMode === 'GRID') { allowCarSolar=false; allowCarGrid=allowGridCharge && core.any_car_connected && connectedCarRequiredTotal>0.5 && core.cheap_grid_usable; }\nelse { allowCarSolar=baseCarSolar; }\n\nconst deadlineCars = [];\nif (core.id3_connected && id3Required > 0.5 && id3UseDeparture && id3Departure && id3Departure > now) {\n    deadlineCars.push({ id:'id3', required_kwh:id3Required, connected:true, use_departure:true, departure_ts:id3Departure });\n}\nif (core.id4_connected && id4Required > 0.5 && id4UseDeparture && id4Departure && id4Departure > now) {\n    deadlineCars.push({ id:'id4', required_kwh:id4Required, connected:true, use_departure:true, departure_ts:id4Departure });\n}\nconst connectedDeadlineCarRequired = deadlineCars.reduce((sum,c)=>sum+c.required_kwh, 0);\nconst earliestEffectiveDeadline = deadlineCars.length ? Math.min(...deadlineCars.map(c=>c.departure_ts)) : null;\nconst hoursToEarliestDeadline = earliestEffectiveDeadline ? (earliestEffectiveDeadline - now) / 3600000 : null;\nconst solarKwhBeforeDeadline = forecastKwhAvailableBeforeDeadline(earliestEffectiveDeadline);\n\nconst connectedNoDeadlineCarRequired =\n    (core.id3_connected && id3Required>0.5 && !id3UseDeparture ? id3Required : 0) +\n    (core.id4_connected && id4Required>0.5 && !id4UseDeparture ? id4Required : 0);\nlet id3GridNeedKwh = 0, id4GridNeedKwh = 0, carGridPlanReason = 'none';\nif (core.ems_enabled && allowGridCharge && wallboxMode !== 'OFF' && wallboxMode !== 'SOLAR' && connectedCarRequiredTotal > 0.5) {\n    if (wallboxMode === 'GRID') {\n        id3GridNeedKwh = core.id3_connected ? id3Required : 0;\n        id4GridNeedKwh = core.id4_connected ? id4Required : 0;\n        carGridPlanReason = 'wallbox_grid_mode';\n    } else if (wallboxMode === 'AUTO') {\n        if (connectedDeadlineCarRequired > 0.5) {\n            let deadlineGridNeed = connectedDeadlineCarRequired;\n            if (hoursToEarliestDeadline !== null && hoursToEarliestDeadline > 18) {\n                deadlineGridNeed = Math.max(connectedDeadlineCarRequired - solarKwhBeforeDeadline, 0);\n                carGridPlanReason = deadlineGridNeed > 0.5\n                    ? 'deadline_deficit_after_forecast'\n                    : 'forecast_covers_deadline';\n            } else {\n                carGridPlanReason = 'car_departure_deadline_soon';\n            }\n            const split = splitGridDeficitAmongDeadlineCars(deadlineGridNeed, deadlineCars, wallboxPriority);\n            id3GridNeedKwh = split.id3;\n            id4GridNeedKwh = split.id4;\n        } else if ((bad || winter) && connectedNoDeadlineCarRequired > 0.5) {\n            id3GridNeedKwh = (core.id3_connected && !id3UseDeparture) ? id3Required : 0;\n            id4GridNeedKwh = (core.id4_connected && !id4UseDeparture) ? id4Required : 0;\n            carGridPlanReason = bad ? 'bad_day_no_deadline' : 'winter_no_deadline';\n        } else carGridPlanReason = 'wait_for_solar_no_deadline';\n    }\n}\nconst carGridNeedKwh = id3GridNeedKwh + id4GridNeedKwh;\n\n// Domácí baterii ze sítě neplánujeme podle cílového SOC samotného.\n// AUTO plán kupuje jen deficit energetické bilance dalšího dne:\n//   forecast_tomorrow * koeficient krytí  -  (noc + denní rezerva)\nconst forecastUsableFactor = n(s('input_number.ems_solar_forecast_usable_factor'), 0.8);\nconst nightNeedKwh = n(s('input_number.ems_night_consumption_kwh'), 5);\nconst dayReserveForHouseKwh = n(s('input_number.ems_day_reserve_kwh'), 12);\nconst usableForecastTomorrowKwh = Math.max(n(core.forecast_tomorrow), 0) * forecastUsableFactor;\nconst houseEnergyNeedUntilNextNightKwh = nightNeedKwh + dayReserveForHouseKwh;\nconst batteryForecastDeficitKwh = Math.max(houseEnergyNeedUntilNextNightKwh - usableForecastTomorrowKwh, 0);\nconst batteryRoomToTargetKwh = Math.max(batteryMissingKwh, 0);\nconst batteryGridAutoNeedKwh = Math.min(batteryForecastDeficitKwh, batteryRoomToTargetKwh);\nconst currentNtRemainingH = currentNtRemainingHours();\nconst minNtRemainingForBatteryStartH = n(s('input_number.ems_battery_grid_min_nt_remaining_hours'), 2);\nconst lateNtBatteryStartBlocked =\n    batteryGridMode !== 'FORCE' &&\n    currentNtRemainingH !== null &&\n    currentNtRemainingH < minNtRemainingForBatteryStartH &&\n    n(core.battery_soc) > hardMinSoc;\n\nlet batteryGridShouldPlan = false;\nlet batteryGridPlanReason = 'none';\nif (!core.ems_enabled || batteryGridMode === 'OFF') {\n    batteryGridShouldPlan = false;\n    batteryGridPlanReason = !core.ems_enabled ? 'ems_disabled' : 'battery_grid_mode_off';\n} else if (batteryGridMode === 'FORCE') {\n    batteryGridShouldPlan = allowGridCharge && batteryMissingKwh > 1;\n    batteryGridPlanReason = batteryGridShouldPlan ? 'force_to_target' : 'force_no_room_to_target';\n} else if (!allowGridCharge) {\n    batteryGridShouldPlan = false;\n    batteryGridPlanReason = 'grid_charge_not_allowed';\n} else if (lateNtBatteryStartBlocked) {\n    batteryGridShouldPlan = false;\n    batteryGridPlanReason = 'late_nt_do_not_start_battery_auto';\n} else if (batteryGridAutoNeedKwh > 0.5 && batteryRoomToTargetKwh > 0.5) {\n    batteryGridShouldPlan = true;\n    batteryGridPlanReason = 'forecast_balance_deficit';\n} else {\n    batteryGridShouldPlan = false;\n    batteryGridPlanReason = batteryForecastDeficitKwh <= 0.5 ? 'forecast_covers_house_need' : 'battery_target_or_room_limit';\n}\nconst batteryGridNeedKwh = batteryGridShouldPlan\n    ? (batteryGridMode === 'FORCE' ? batteryMissingKwh : batteryGridAutoNeedKwh)\n    : 0;\nconst gridNeedTotal = batteryGridNeedKwh + carGridNeedKwh;\nconst maxGridPurchaseKw = 11;\nconst departurePlan = { cars: { id3: { connected:!!core.id3_connected, required_kwh:id3Required, use_departure:id3UseDeparture, departure_ts:id3Departure }, id4: { connected:!!core.id4_connected, required_kwh:id4Required, use_departure:id4UseDeparture, departure_ts:id4Departure } } };\nconst gridPurchasePlan = buildHdoSpreadPlan({id3:id3GridNeedKwh, id4:id4GridNeedKwh, battery:batteryGridNeedKwh}, departurePlan, maxGridPurchaseKw);\nconst id3GridActive = loadActive(gridPurchasePlan.loads?.id3, now);\nconst id4GridActive = loadActive(gridPurchasePlan.loads?.id4, now);\nconst batteryGridActive = loadActive(gridPurchasePlan.loads?.battery, now);\nallowCarGrid = !!(core.ems_enabled && allowGridCharge && (id3GridActive || id4GridActive));\nconst allowBatteryGrid = !!(core.ems_enabled && allowGridCharge && batteryGridActive);\n\nems.plan = {\n    ts: now,\n    battery: { capacity_kwh:batteryCapacity, hard_min_soc:hardMinSoc, target_soc:n(core.target_soc), effective_min_soc:n(core.effective_min_soc), missing_soc:round1(batteryMissingSoc), missing_kwh:round1(batteryMissingKwh), grid_need_kwh:round1(batteryGridNeedKwh), grid_plan_reason:batteryGridPlanReason, forecast_usable_factor:round1(forecastUsableFactor), usable_forecast_tomorrow_kwh:round1(usableForecastTomorrowKwh), house_energy_need_until_next_night_kwh:round1(houseEnergyNeedUntilNextNightKwh), forecast_deficit_kwh:round1(batteryForecastDeficitKwh), nt_remaining_h:currentNtRemainingH===null?null:round1(currentNtRemainingH), late_nt_blocked:lateNtBatteryStartBlocked, load_locked:!!core.battery_load_locked, unlock_soc:n(core.battery_load_unlock_soc) },\n    cars: {\n        id3: { soc:id3Soc, target_soc:id3Target, required_kwh:round1(id3Required), connected:!!core.id3_connected, raw_connected:!!core.id3_connected_raw, use_departure:id3UseDeparture, departure_ts:id3DepartureRaw, effective_departure_ts:id3Departure, departure_buffer_h:departureBufferHours, hours_to_departure:id3DepartureRaw?round1((id3DepartureRaw-now)/3600000):null, effective_hours_to_departure:id3Departure?round1((id3Departure-now)/3600000):null, grid_need_kwh:round1(id3GridNeedKwh) },\n        id4: { soc:id4Soc, target_soc:id4Target, required_kwh:round1(id4Required), connected:!!core.id4_connected, raw_connected:!!core.id4_connected_raw, use_departure:id4UseDeparture, departure_ts:id4DepartureRaw, effective_departure_ts:id4Departure, departure_buffer_h:departureBufferHours, hours_to_departure:id4DepartureRaw?round1((id4DepartureRaw-now)/3600000):null, effective_hours_to_departure:id4Departure?round1((id4Departure-now)/3600000):null, grid_need_kwh:round1(id4GridNeedKwh) },\n        required_total_kwh:round1(carRequiredTotal), connected_required_kwh:round1(connectedCarRequiredTotal), grid_need_kwh:round1(carGridNeedKwh), grid_plan_reason:carGridPlanReason, any_deadline:connectedDeadlineCarRequired>0.5, earliest_effective_deadline_ts:earliestEffectiveDeadline, hours_to_earliest_effective_deadline:hoursToEarliestDeadline===null?null:round1(hoursToEarliestDeadline), forecast_available_before_deadline_kwh:round1(solarKwhBeforeDeadline), priority:wallboxPriority\n    },\n    grid: { need_total_kwh:round1(gridNeedTotal), total_missing_energy_kwh:round1(totalMissingEnergy), urgency, allow_car_grid:allowCarGrid, allow_battery_grid:allowBatteryGrid, hdo_active:core.hdo_state==='NT', hdo_spread_active:!!(id3GridActive||id4GridActive||batteryGridActive) },\n    grid_purchase: gridPurchasePlan,\n    solar: { allow_car_solar:allowCarSolar, allow_loads: core.ems_enabled && allowSolarLoads && core.battery_above_effective_min },\n    strategy: { winter, day_type:core.forecast_day_type_tomorrow, tariff_class:core.tariff_class, cheap_grid_usable:!!core.cheap_grid_usable, very_cheap_grid_usable:!!core.very_cheap_grid_usable, wallbox_mode:wallboxMode, wallbox_priority:wallboxPriority, battery_grid_mode:batteryGridMode, tariff_backend:core.tariff_backend || 'HDO' }\n};\n\nglobal.set('ems', ems);\nmsg.topic = 'ems/plan';\nmsg.payload = ems.plan;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["ems_plan_debug","dd4d3c0ff0a24539"]]},{"id":"ems_plan_debug","type":"debug","z":"ems_tab_planning","name":"global.ems.plan","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":120,"wires":[]},{"id":"dd4d3c0ff0a24539","type":"link out","z":"ems_tab_planning","name":"link out 6","mode":"link","links":["ems_debug_logger_in"],"x":645,"y":200,"wires":[]},{"id":"ems_battery_tick","type":"inject","z":"ems_tab_battery_grid","name":"EMS battery grid tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"9","topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["ems_battery_decision"]]},{"id":"ems_battery_decision","type":"function","z":"ems_tab_battery_grid","name":"battery grid decision HDO spread v8 task-aware","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nfunction clamp(v, min, max) {\n    return Math.max(min, Math.min(max, v));\n}\nfunction loadActive(load, now) {\n    return !!(load && load.enabled && load.start_ts && load.end_ts && now >= load.start_ts && now < load.end_ts);\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = 0) {\n    return states[id]?.state ?? def;\n}\n\nconst ems = global.get('ems') || {};\nconst core = ems.core || {};\nconst plan = ems.plan || {};\nconst wallbox = ems.wallbox || {};\n\nconst batteryGridMode = String(core.battery_grid_mode || 'AUTO').toUpperCase();\nconst gridPhaseLimitW = n(s('input_number.ems_grid_phase_limit_w'), 4600);\nconst gridSafetyMarginW = n(s('input_number.ems_grid_safety_margin_w'), 800);\nconst hardMinSoc = n(s('input_number.ems_battery_hard_min_soc'), 40);\nconst configuredCurrent = n(s('input_number.ems_inverter_grid_charge_current_a'), 10);\nconst emergencyCurrent = n(s('input_number.ems_emergency_charge_current_a'), 10);\nconst batterySpreadLoad = plan.grid_purchase?.loads?.battery || {};\nconst batterySpreadActive = loadActive(batterySpreadLoad, Date.now());\nconst plannedCurrent = batterySpreadActive ? n(batterySpreadLoad.current_a, configuredCurrent) : configuredCurrent;\n\nconst gridLimitTotalW = gridPhaseLimitW * 3;\nconst gridNowW = n(core.grid_power);\nconst houseReserveW = n(core.battery_soc) <= hardMinSoc ? n(core.house_power) : 0;\n\nlet wallboxReserveW = 0;\nif (wallbox.mode === 'GRID') {\n    for (const car of ['id3', 'id4']) {\n        if (wallbox[car]?.charge_enable) {\n            wallboxReserveW += n(wallbox[car].current_a, 6) * 230 * 3;\n        }\n    }\n}\n\nconst availableForBatteryW = Math.max(\n    gridLimitTotalW - gridNowW - houseReserveW - wallboxReserveW - gridSafetyMarginW,\n    0\n);\n\nconst maxCurrentByGrid = Math.floor(availableForBatteryW / 60);\nconst dynamicCurrent = clamp(Math.min(plannedCurrent, maxCurrentByGrid), 2, 50);\n\nlet decision = {\n    ts: Date.now(),\n    mode: 'PV_ONLY',\n    reason: 'default_pv_only',\n    charge_enable: false,\n    current_a: 0,\n    debug: {\n        mode_helper: batteryGridMode,\n        allow_battery_grid: !!plan.grid?.allow_battery_grid,\n        battery_missing_kwh: n(plan.battery?.missing_kwh),\n        soc: n(core.battery_soc),\n        target_soc: n(plan.battery?.target_soc),\n        tariff_class: core.tariff_class,\n        cheap_grid_usable: !!core.cheap_grid_usable,\n        very_cheap_grid_usable: !!core.very_cheap_grid_usable,\n        grid_limit_total_w: gridLimitTotalW,\n        grid_now_w: gridNowW,\n        house_reserve_w: houseReserveW,\n        wallbox_reserve_w: wallboxReserveW,\n        safety_margin_w: gridSafetyMarginW,\n        available_for_battery_w: Math.round(availableForBatteryW),\n        configured_current_a: configuredCurrent,\n        planned_current_a: plannedCurrent,\n        hdo_spread_active: batterySpreadActive,\n        hdo_spread_load: batterySpreadLoad,\n        max_current_by_grid_a: maxCurrentByGrid\n    }\n};\n\nfunction allowGridCharge(reason) {\n    decision.mode = 'GRID_CHARGE';\n    decision.reason = reason;\n    decision.charge_enable = true;\n    decision.current_a = dynamicCurrent;\n}\nfunction allowEmergencyGridCharge() {\n    decision.mode = 'GRID_CHARGE';\n    decision.reason = 'emergency_battery_voltage_critical';\n    decision.charge_enable = true;\n    decision.current_a = clamp(emergencyCurrent, 2, 50);\n    decision.debug.emergency_safety = ems.safety?.emergency || null;\n}\nfunction allowTaskGridCharge(task, reason) {\n    const taskCurrent = clamp(Math.min(n(task?.current_a, configuredCurrent), maxCurrentByGrid), 2, 50);\n    decision.mode = 'GRID_CHARGE';\n    decision.reason = reason;\n    decision.charge_enable = true;\n    decision.current_a = taskCurrent;\n    decision.debug.force_task = task || null;\n}\n\nconst taskBattery = ems.tasks?.battery_primary || null;\nconst taskBatteryActive = !!taskBattery?.active;\nconst taskBatteryGridAllowed = !!taskBattery?.grid_allowed;\n\nif (ems.safety?.emergency?.active) {\n    allowEmergencyGridCharge();\n\n} else if (!core.ems_enabled) {\n    decision.reason = 'ems_disabled';\n\n} else if (ems.tasks?.battery_cooldown_active) {\n    decision.reason = 'battery_task_cooldown_until_evening';\n    decision.debug.cooldown_until = ems.tasks?.battery_cooldown_until || 0;\n\n} else if (!plan.grid) {\n    decision.reason = 'planner_missing';\n\n} else if (taskBatteryActive && taskBatteryGridAllowed && availableForBatteryW >= 150) {\n    allowTaskGridCharge(taskBattery, 'force_task_' + (taskBattery.type || 'battery'));\n\n} else if (taskBatteryActive && !taskBatteryGridAllowed) {\n    decision.reason = 'force_task_waiting_for_allowed_window_' + (taskBattery.type || 'battery');\n    decision.debug.force_task = taskBattery;\n\n} else if (batteryGridMode === 'OFF') {\n    decision.reason = 'battery_grid_mode_off';\n\n} else if (n(plan.battery?.missing_kwh) <= 1 && batteryGridMode !== 'FORCE') {\n    decision.reason = 'battery_target_already_reached';\n\n} else if (availableForBatteryW < 150) {\n    decision.reason = 'no_grid_capacity_available';\n\n} else if (batteryGridMode === 'FORCE') {\n    allowGridCharge('battery_grid_mode_force');\n\n} else if (!batterySpreadActive && n(plan.battery?.grid_need_kwh) > 0.5) {\n    decision.reason = 'waiting_for_hdo_spread_slot';\n\n} else if (!plan.grid.allow_battery_grid) {\n    decision.reason = 'battery_grid_not_allowed_by_planner';\n\n} else {\n    allowGridCharge('auto_cheap_window_and_battery_missing');\n}\n\nems.battery_grid = decision;\nglobal.set('ems', ems);\nmsg.topic = 'ems/battery-grid';\nmsg.payload = decision;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["ems_battery_debug","df2d2d3492baa6f4"]]},{"id":"ems_battery_debug","type":"debug","z":"ems_tab_battery_grid","name":"global.ems.battery_grid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":120,"wires":[]},{"id":"df2d2d3492baa6f4","type":"link out","z":"ems_tab_battery_grid","name":"link out 4","mode":"link","links":["ems_debug_logger_in"],"x":705,"y":200,"wires":[]},{"id":"ems_boiler_tick","type":"inject","z":"ems_tab_boiler","name":"EMS boiler tick 15s","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":"11","topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["ems_boiler_decision"]]},{"id":"ems_boiler_decision","type":"function","z":"ems_tab_boiler","name":"boiler decision LATCHED wallbox-aware v11 task-aware","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = undefined) { return states[id]?.state ?? def; }\nfunction b(id) { return states[id]?.state === 'on'; }\n\nconst ems = global.get('ems') || {};\nconst core = ems.core || {};\nconst plan = ems.plan || {};\nconst wallbox = ems.wallbox || {};\nconst dispatcher = ems.dispatcher || {};\n\nconst modeHelper = String(core.boiler_mode || 'AUTO').toUpperCase();\nconst bottomTop = n(s('sensor.ems_bottom_boiler_top_temp'));\nconst bottomBottom = n(s('sensor.ems_bottom_boiler_bottom_temp'));\nconst pergolaTemp = n(s('sensor.ems_pergola_boiler_temp'));\n\nconst woodHeating = b('binary_sensor.ems_wood_boiler_heating_bottom_boiler');\nconst woodPlan = String(s('input_select.ems_bottom_boiler_wood_plan', 'unknown'));\n\nconst bottomCold = bottomTop < 45 || bottomBottom < 40;\nconst bottomNeedsHeat = bottomTop < 55 || bottomBottom < 50;\nconst pergolaNeedsHeat = pergolaTemp < 60;\n\nconst wallboxPending =\n    !!dispatcher.pending?.wallbox ||\n    !!dispatcher.pending?.wallbox_enable ||\n    !!dispatcher.pending?.wallbox_current;\nconst wallboxTargetActive = !!(wallbox.id3?.charge_enable || wallbox.id4?.charge_enable);\nconst actualWallboxActive =\n    states['switch.tuya_wallbox_2_wallbox_charge_enable']?.state === 'on' ||\n    states['switch.tuya_wallbox_1_wallbox_charge_enable']?.state === 'on';\nconst dispatcherWallboxActionRecent =\n    Date.now() - (dispatcher.last?.wallbox_action_ts || 0) < 10 * 60 * 1000;\n\nems.memory = ems.memory || {};\nems.memory.boiler_stable = ems.memory.boiler_stable || {\n    last_wallbox_seen: 0,\n    surplus_since: 0,\n    last_change: 0,\n    last_mode: 'IDLE',\n    last_key: JSON.stringify({b1:false,b2:false,p1:false,p2:false})\n};\n\nconst now = Date.now();\nconst mem = ems.memory.boiler_stable;\n\n// PENDING wallbox už bojler neblokuje. Lockout držíme jen po skutečném / cílovém běhu wallboxu\n// nebo po reálné akci dispatcheru. Force boiler task lockout obchází úplně níže.\nif (wallboxTargetActive || actualWallboxActive || dispatcherWallboxActionRecent) {\n    mem.last_wallbox_seen = now;\n}\n\nconst WALLBOX_BOILER_LOCKOUT_MS = 10 * 60 * 1000;\nconst BOILER_MIN_CHANGE_MS = 5 * 60 * 1000;\nconst SURPLUS_STABLE_MS = 5 * 60 * 1000;\nconst BOILER_START_GRACE_MS = 2 * 60 * 1000;\nconst BATTERY_DISCHARGE_STOP_MS = 90 * 1000;\nconst BATTERY_DISCHARGE_LIMIT_W = -800;\n\nconst wallboxRecentlyActive = (now - (mem.last_wallbox_seen || 0)) < WALLBOX_BOILER_LOCKOUT_MS;\nconst solarLoadsAllowed = !!plan.solar?.allow_loads && !core.battery_load_locked;\nconst batterySafe = !!core.battery_above_effective_min;\nconst batteryPower = n(core.battery_power);\nconst highSurplus = batteryPower > 2500;\nconst veryHighSurplus = batteryPower > 5500;\nconst fullBatteryProbeMode = n(core.battery_soc) >= 95 && Math.abs(batteryPower) < 150;\n\nif (highSurplus && !wallboxRecentlyActive) {\n    if (!mem.surplus_since) mem.surplus_since = now;\n} else {\n    mem.surplus_since = 0;\n}\n\nconst surplusStable = mem.surplus_since && (now - mem.surplus_since) >= SURPLUS_STABLE_MS;\nconst canChangeBoiler = (now - (mem.last_change || 0)) >= BOILER_MIN_CHANGE_MS;\n\nfunction makeDecision(mode, reason) {\n    return {\n        ts: now,\n        mode,\n        reason,\n        ask_notification: false,\n        notification_reason: null,\n        bottom_boiler: {\n            top_temp: bottomTop,\n            bottom_temp: bottomBottom,\n            cold: bottomCold,\n            needs_heat: bottomNeedsHeat,\n            wood_heating: woodHeating,\n            wood_plan: woodPlan,\n            t1: false,\n            t2: false\n        },\n        pergola_boiler: {\n            temp: pergolaTemp,\n            needs_heat: pergolaNeedsHeat,\n            t1: false,\n            t2: false\n        },\n        debug: {}\n    };\n}\nfunction keyOf(d) {\n    return JSON.stringify({\n        b1: !!d.bottom_boiler.t1,\n        b2: !!d.bottom_boiler.t2,\n        p1: !!d.pergola_boiler.t1,\n        p2: !!d.pergola_boiler.t2\n    });\n}\nfunction anyOnKey(k) {\n    try {\n        const o = JSON.parse(k || '{}');\n        return !!(o.b1 || o.b2 || o.p1 || o.p2);\n    } catch(e) { return false; }\n}\nfunction applyKey(d, k) {\n    let o = {};\n    try { o = JSON.parse(k || '{}'); } catch(e) {}\n    d.bottom_boiler.t1 = !!o.b1;\n    d.bottom_boiler.t2 = !!o.b2;\n    d.pergola_boiler.t1 = !!o.p1;\n    d.pergola_boiler.t2 = !!o.p2;\n}\nfunction bottom(d, t2 = false) {\n    d.bottom_boiler.t1 = true;\n    d.bottom_boiler.t2 = !!t2;\n}\nfunction pergola(d, t2 = false) {\n    d.pergola_boiler.t1 = true;\n    d.pergola_boiler.t2 = !!t2;\n}\nfunction applyBoilerForceTask(task, which) {\n    const d = makeDecision(which === 'bottom' ? 'BOTTOM_BOILER_FORCE_TASK' : 'PERGOLA_FORCE_TASK', 'force_task_' + which);\n    d.debug.force_task = task;\n    const p = n(task?.power_w);\n    if (which === 'bottom') {\n        // Spodní bojler: 1000 W = T1, 2000 W = T1+T2.\n        bottom(d, p >= 1800);\n    } else {\n        // Pergola: 800 W = T1, 1600 W = T1+T2.\n        pergola(d, p >= 1400);\n    }\n    return d;\n}\n\n// Klidnější vyhodnocení vybíjení: bojler nesmí panikařit z krátkého propadu\n// po zapnutí vlastního tělesa. Vypíná se až při trvalém vybíjení.\nconst currentBoilerLoadActive = anyOnKey(mem.last_key);\nif (currentBoilerLoadActive) {\n    if (!mem.load_on_since) mem.load_on_since = now;\n} else {\n    mem.load_on_since = 0;\n}\nconst boilerStartGraceActive = currentBoilerLoadActive && (now - (mem.load_on_since || now)) < BOILER_START_GRACE_MS;\nif (batteryPower < BATTERY_DISCHARGE_LIMIT_W) {\n    if (!mem.discharge_since) mem.discharge_since = now;\n} else {\n    mem.discharge_since = 0;\n}\nconst batteryDischargeSustained = !!mem.discharge_since && (now - mem.discharge_since) >= BATTERY_DISCHARGE_STOP_MS;\nconst batteryDischargingTooMuch = batteryDischargeSustained && !boilerStartGraceActive;\n\nlet decision = makeDecision('IDLE', 'default_idle');\nlet safetyOff = false;\n\nif (!core.ems_enabled) {\n    decision = makeDecision('OFF', 'ems_disabled');\n    safetyOff = true;\n\n} else if (modeHelper === 'OFF') {\n    decision = makeDecision('OFF', 'boiler_mode_off');\n    safetyOff = true;\n\n} else if (ems.tasks?.boiler_bottom?.active) {\n    decision = applyBoilerForceTask(ems.tasks.boiler_bottom, 'bottom');\n\n} else if (ems.tasks?.boiler_pergola?.active) {\n    decision = applyBoilerForceTask(ems.tasks.boiler_pergola, 'pergola');\n\n} else if (!plan.solar || core.battery_soc === undefined) {\n    decision = makeDecision('IDLE', 'planner_or_core_missing');\n\n} else if (core.battery_load_locked) {\n    decision = makeDecision('OFF', 'battery_load_locked_until_target_soc');\n    safetyOff = true;\n\n} else if (!batterySafe || batteryDischargingTooMuch) {\n    decision = makeDecision('OFF', !batterySafe ? 'battery_below_effective_minimum' : 'battery_discharging_too_much');\n    safetyOff = true;\n\n} else if (modeHelper === 'FORCE_BOTTOM') {\n    decision = makeDecision('BOTTOM_BOILER_FORCE', 'boiler_mode_force_bottom');\n    bottom(decision, true);\n\n} else if (modeHelper === 'FORCE_PERGOLA') {\n    decision = makeDecision('PERGOLA_FORCE', 'boiler_mode_force_pergola');\n    pergola(decision, true);\n\n} else if (woodHeating || woodPlan === 'will_heat') {\n    decision = makeDecision('WOOD_HEATING', woodHeating ? 'wood_boiler_is_heating_bottom_boiler' : 'wood_plan_will_heat');\n\n} else if (wallboxRecentlyActive) {\n    decision = makeDecision('IDLE', wallboxPending ? 'wallbox_pending_has_priority' : 'wallbox_recently_active_lockout');\n    safetyOff = true;\n\n} else if (bottomCold && !highSurplus && woodPlan === 'unknown' && (plan.strategy?.winter || plan.strategy?.day_type === 'bad')) {\n    decision = makeDecision('ASK_USER', 'bottom_boiler_cold_and_energy_should_be_saved');\n    decision.ask_notification = true;\n    decision.notification_reason = 'bottom_boiler_cold_will_you_heat_wood_today';\n\n} else if (!solarLoadsAllowed) {\n    decision = makeDecision('IDLE', 'solar_loads_not_allowed');\n\n} else if (!surplusStable && !fullBatteryProbeMode) {\n    decision = makeDecision('IDLE', 'waiting_for_stable_surplus');\n\n} else if (bottomNeedsHeat && woodPlan === 'minimum_only' && bottomTop < 45) {\n    decision = makeDecision('BOTTOM_BOILER_MINIMUM', 'wood_plan_minimum_only');\n    bottom(decision, false);\n\n} else if (bottomNeedsHeat) {\n    decision = makeDecision('BOTTOM_BOILER', 'bottom_boiler_stable_surplus');\n    bottom(decision, veryHighSurplus);\n\n} else if (pergolaNeedsHeat) {\n    decision = makeDecision('PERGOLA_DUMMY_LOAD', fullBatteryProbeMode ? 'full_battery_probe_mode' : 'low_priority_dummy_load_stable_surplus');\n    pergola(decision, veryHighSurplus || fullBatteryProbeMode);\n\n} else {\n    decision = makeDecision('IDLE', 'nothing_useful_to_heat');\n}\n\nconst oldKey = mem.last_key || JSON.stringify({b1:false,b2:false,p1:false,p2:false});\nlet newKey = keyOf(decision);\nconst outputChanged = newKey !== oldKey;\nconst oldHadLoad = anyOnKey(oldKey);\nconst newHasLoad = anyOnKey(newKey);\n\n// Hystereze: při běžném rozhodnutí drž poslední stav alespoň BOILER_MIN_CHANGE_MS.\n// Bezpečnostní vypnutí má vždy přednost.\nconst forceBoilerTaskActive = !!(ems.tasks?.boiler_bottom?.active || ems.tasks?.boiler_pergola?.active);\nconst forceBoilerMode = modeHelper === 'FORCE_BOTTOM' || modeHelper === 'FORCE_PERGOLA';\nconst bypassBoilerMinChange = forceBoilerTaskActive || forceBoilerMode;\n\nif (outputChanged && !safetyOff && !canChangeBoiler && !bypassBoilerMinChange) {\n    applyKey(decision, oldKey);\n    decision.mode = oldHadLoad ? (mem.last_mode || 'HELD') : 'IDLE';\n    decision.reason = newHasLoad\n        ? 'boiler_hold_before_turn_on_min_interval'\n        : 'boiler_hold_previous_load_min_interval';\n    newKey = keyOf(decision);\n}\n\nif (newKey !== oldKey) {\n    mem.last_change = now;\n    mem.last_key = newKey;\n    mem.last_mode = decision.mode;\n    mem.load_on_since = anyOnKey(newKey) ? now : 0;\n    if (!anyOnKey(newKey)) mem.discharge_since = 0;\n} else if (!mem.last_key) {\n    mem.last_key = newKey;\n}\n\ndecision.debug = {\n    mode_helper: modeHelper,\n    solar_loads_allowed: solarLoadsAllowed,\n    battery_safe: batterySafe,\n    battery_load_locked: !!core.battery_load_locked,\n    battery_power: batteryPower,\n    battery_discharge_limit_w: BATTERY_DISCHARGE_LIMIT_W,\n    battery_discharge_sustained: batteryDischargeSustained,\n    boiler_start_grace_active: boilerStartGraceActive,\n    battery_soc: n(core.battery_soc),\n    effective_min_soc: n(core.effective_min_soc),\n    target_soc: n(core.target_soc),\n    wallbox_pending: wallboxPending,\n    wallbox_pending_blocks_boiler: false,\n    wallbox_target_active: wallboxTargetActive,\n    actual_wallbox_active: actualWallboxActive,\n    dispatcher_wallbox_action_recent: dispatcherWallboxActionRecent,\n    wallbox_recently_active: wallboxRecentlyActive,\n    surplus_stable: !!surplusStable,\n    high_surplus: highSurplus,\n    very_high_surplus: veryHighSurplus,\n    full_battery_probe_mode: fullBatteryProbeMode,\n    can_change_boiler: canChangeBoiler,\n    bypass_boiler_min_change: bypassBoilerMinChange,\n    safety_off: safetyOff,\n    old_key: oldKey,\n    new_key: newKey,\n    day_type: plan.strategy?.day_type,\n    winter: plan.strategy?.winter,\n    memory: {...mem}\n};\n\ndecision.debug.memory_after = {...mem};\nems.memory.boiler_stable = mem;\nems.boiler = decision;\nglobal.set('ems', ems);\n\nmsg.topic = 'ems/boiler';\nmsg.payload = decision;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["ems_boiler_debug","e140ccfa7df2cf5d"]]},{"id":"ems_boiler_debug","type":"debug","z":"ems_tab_boiler","name":"global.ems.boiler","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"e140ccfa7df2cf5d","type":"link out","z":"ems_tab_boiler","name":"link out 3","mode":"link","links":["ems_debug_logger_in"],"x":645,"y":200,"wires":[]},{"id":"ems_dashboard_tick","type":"inject","z":"ems_mqtt_tab","name":"Dashboard Tick","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":180,"y":120,"wires":[["ems_dashboard_build"]]},{"id":"ems_dashboard_build","type":"function","z":"ems_mqtt_tab","name":"Build Dashboard JSON v3 tasks-cost-wallbox","func":"let ems=global.get('ems')||{}; const dispatcher=ems.dispatcher||{};\nconst protectedMode = !ems.core?.ems_enabled ? 'OFF' : (ems.core?.battery_above_effective_min ? 'READY' : 'PROTECTED');\nconst topReason = !ems.core?.ems_enabled ? 'ems_disabled' : (ems.core?.battery_above_effective_min ? 'ok' : 'battery_below_effective_minimum');\nmsg.topic='ems/decision/state'; msg.retain=true;\nmsg.payload={ ts:Date.now(), mode:protectedMode, reason:topReason, soc:ems.core?.battery_soc??null, target_soc:ems.plan?.battery?.target_soc??null, effective_min_soc:ems.plan?.battery?.effective_min_soc??null, pv_power:ems.core?.pv_power??null, battery_power:ems.core?.battery_power??null, surplus_power:ems.core?.surplus_power??null, deficit_power:ems.core?.deficit_power??null,\n controls:{wallbox_mode:ems.core?.wallbox_mode??'AUTO', wallbox_priority:ems.core?.wallbox_priority??'AUTO', battery_grid_mode:ems.core?.battery_grid_mode??'AUTO', boiler_mode:ems.core?.boiler_mode??'AUTO'},\n battery_grid_charge:{ allowed:ems.battery_grid?.charge_enable??false, reason:ems.battery_grid?.reason??'unknown', current_a:ems.battery_grid?.current_a??0 },\n wallbox:{ task:ems.tasks?.wallbox??{}, allowed:(ems.wallbox?.id3?.charge_enable||ems.wallbox?.id4?.charge_enable||false), source:ems.wallbox?.transfer_switch??'SOLAR', reason:ems.wallbox?.reason??'unknown', current_a:Math.max(ems.wallbox?.id3?.current_a??0,ems.wallbox?.id4?.current_a??0), ts_grid:ems.wallbox?.transfer_switch==='GRID', priority:ems.core?.wallbox_priority??'AUTO', ask_priority:ems.wallbox?.ask_priority??false, id3:ems.wallbox?.id3??{}, id4:ems.wallbox?.id4??{} },\n boiler:{ bottom_allowed:((ems.boiler?.bottom_boiler?.t1??false)||(ems.boiler?.bottom_boiler?.t2??false)), pergola_allowed:((ems.boiler?.pergola_boiler?.t1??false)||(ems.boiler?.pergola_boiler?.t2??false)), reason:ems.boiler?.reason??'unknown', mode:ems.boiler?.mode??'unknown', wood_heating:ems.boiler?.bottom_boiler?.wood_heating??false, wood_plan:ems.boiler?.bottom_boiler?.wood_plan??'unknown' },\n dispatcher:{ last_action:dispatcher.last_action??'none', last_change:dispatcher.last_change??0 },\n tasks: ems.tasks ?? {},\n cost: ems.cost ?? {},\n plan: ems.plan ?? {},\n trace:[\n  {step:'Battery',state:ems.core?.battery_above_effective_min?'ok':'blocked',reason:ems.core?.battery_above_effective_min?'battery_above_effective_min':'battery_below_effective_minimum'},\n  {step:'Tariff',state:(ems.core?.cheap_grid_usable||ems.core?.very_cheap_grid_usable)?'ok':'blocked',reason:ems.core?.tariff_class??'unknown'},\n  {step:'Grid charge',state:ems.battery_grid?.charge_enable?'active':'off',reason:ems.battery_grid?.reason??'unknown'},\n  {step:'Wallbox',state:(ems.wallbox?.id3?.charge_enable||ems.wallbox?.id4?.charge_enable)?'active':'off',reason:ems.wallbox?.reason??'unknown'},\n  {step:'Boiler',state:((ems.boiler?.bottom_boiler?.t1||ems.boiler?.bottom_boiler?.t2||ems.boiler?.pergola_boiler?.t1||ems.boiler?.pergola_boiler?.t2)?'active':'off'),reason:ems.boiler?.reason??'unknown'} ]};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":120,"wires":[["ems_dashboard_debug","ems_dashboard_mqtt","91064e3babc3ec78"]]},{"id":"ems_dashboard_debug","type":"debug","z":"ems_mqtt_tab","name":"Dashboard Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":80,"wires":[]},{"id":"ems_dashboard_mqtt","type":"mqtt out","z":"ems_mqtt_tab","name":"EMS Dashboard MQTT","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dfd2960398e9d1c1","x":730,"y":160,"wires":[]},{"id":"91064e3babc3ec78","type":"link out","z":"ems_mqtt_tab","name":"link out 2","mode":"link","links":["ems_debug_logger_in"],"x":715,"y":280,"wires":[]},{"id":"ems_debug_logger_in","type":"link in","z":"ems_debug_logger_tab","name":"EMS debug in","links":["91064e3babc3ec78","e140ccfa7df2cf5d","df2d2d3492baa6f4","dd4d3c0ff0a24539","49db06ea23dd65d8","ems_task_log_out","ems_cost_log_out","ems_safety_log_out"],"x":160,"y":120,"wires":[["ems_debug_logger_format"]]},{"id":"ems_debug_logger_format","type":"function","z":"ems_debug_logger_tab","name":"Format compact JSON line v8 tasks-cost","func":"const now = Date.now();\nconst topic = msg.topic || 'ems/dispatcher';\nconst payload = msg.payload;\n\nfunction round(v, decimals = 1) {\n    const n = Number(v);\n    if (!Number.isFinite(n)) return v;\n    const m = Math.pow(10, decimals);\n    return Math.round(n * m) / m;\n}\n\nfunction keyFor(topic, p) {\n    if (!p || typeof p !== 'object') return JSON.stringify(p);\n\n    if (topic === 'ems/core') {\n        return JSON.stringify({\n            ems_enabled: p.ems_enabled,\n            wallbox_mode: p.wallbox_mode,\n            wallbox_priority: p.wallbox_priority,\n            battery_grid_mode: p.battery_grid_mode,\n            boiler_mode: p.boiler_mode,\n            live_w: p.ems_live_wallbox,\n            live_bat: p.ems_live_battery_grid,\n            live_boiler: p.ems_live_boiler,\n            soc: round(p.battery_soc, 1),\n            target: round(p.target_soc, 1),\n            effective: round(p.effective_min_soc, 1),\n            locked: p.battery_load_locked,\n            tariff: p.tariff_class,\n            hdo: p.hdo_state,\n            id3: p.id3_connected,\n            id4: p.id4_connected,\n            id3_raw: p.id3_connected_raw,\n            id4_raw: p.id4_connected_raw\n        });\n    }\n\n    if (topic === 'ems/plan') {\n        return JSON.stringify({\n            batt_missing: round(p.battery?.missing_kwh, 1),\n            car_need: round(p.cars?.connected_required_kwh, 1),\n            car_grid: round(p.cars?.grid_need_kwh, 1),\n            grid_need: round(p.grid?.need_total_kwh, 1),\n            purchase: p.grid_purchase?.summary,\n            solar_car: p.solar?.allow_car_solar,\n            solar_loads: p.solar?.allow_loads,\n            id3: p.cars?.id3?.connected,\n            id4: p.cars?.id4?.connected,\n            priority: p.cars?.priority\n        });\n    }\n\n    if (topic === 'ems/wallbox') {\n        return JSON.stringify({\n            mode: p.mode,\n            reason: p.reason,\n            source: p.transfer_switch,\n            ask: p.ask_priority,\n            id3_en: p.id3?.charge_enable,\n            id4_en: p.id4?.charge_enable,\n            id3_a: p.id3?.current_a,\n            id4_a: p.id4?.current_a,\n            id3_c: p.id3?.connected,\n            id4_c: p.id4?.connected\n        });\n    }\n\n    if (topic === 'ems/battery-grid') {\n        return JSON.stringify({ mode: p.mode, reason: p.reason, en: p.charge_enable, a: p.current_a });\n    }\n\n    if (topic === 'ems/boiler') {\n        return JSON.stringify({ mode: p.mode, reason: p.reason, ask: p.ask_notification, b1: p.bottom_boiler?.t1, b2: p.bottom_boiler?.t2, p1: p.pergola_boiler?.t1, p2: p.pergola_boiler?.t2 });\n    }\n\n\n\n    if (topic === 'ems/tasks') {\n        return JSON.stringify({\n            active: p.active,\n            battery_task: p.battery_primary?.type || null,\n            battery_reason: p.battery_primary?.reason || null,\n            balance_status: p.balance_state?.status,\n            voltage: round(p.balance_state?.voltage, 2),\n            hold_min: round(p.balance_state?.hold_minutes_done, 1),\n            bottom: p.boiler_bottom?.active ? p.boiler_bottom?.progress : false,\n            pergola: p.boiler_pergola?.active ? p.boiler_pergola?.progress : false\n        });\n    }\n\n    if (topic === 'ems/cost') {\n        return JSON.stringify({\n            price: round(p.price_kwh, 3),\n            grid: p.wallbox_grid,\n            id3_kwh: round(p.id3?.grid_energy_kwh, 3),\n            id3_cost: round(p.id3?.grid_cost, 2),\n            id4_kwh: round(p.id4?.grid_energy_kwh, 3),\n            id4_cost: round(p.id4?.grid_cost, 2)\n        });\n    }\n\n    if (topic === 'ems/decision/state') {\n        return JSON.stringify({ mode: p.mode, reason: p.reason, wallbox: p.wallbox?.reason, boiler: p.boiler?.reason, grid: p.battery_grid_charge?.reason, soc: round(p.soc, 1), locked: p.plan?.battery?.load_locked });\n    }\n\n    if (topic === 'ems/dispatcher') {\n        return JSON.stringify({ action: p.last_action || p.action, changed: p.changed, pending: p.pending, wallboxEnableTarget: p.wallboxEnableTarget, actualWallboxEnable: p.actualWallboxEnable, wallboxCurrentTarget: p.wallboxCurrentTarget, actualWallboxCurrent: p.actualWallboxCurrent, boilerTarget: p.boilerTarget, actualBoiler: p.actualBoiler, protect: p.wallboxBatteryProtectionActive });\n    }\n\n    return JSON.stringify(p);\n}\n\nconst state = context.get('state') || {};\nconst k = keyFor(topic, payload);\nconst last = state[topic] || { key: null, ts: 0 };\n\nconst minInterval = topic === 'ems/dispatcher' ? 60000 : 300000;\nconst importantDispatcher = topic === 'ems/dispatcher' && payload && (\n    payload.action ||\n    (payload.last_action && payload.last_action !== 'idle') ||\n    (payload.changed && Object.values(payload.changed).some(Boolean)) ||\n    (payload.pending && Object.keys(payload.pending).length > 0)\n);\n\nconst shouldLog = importantDispatcher || k !== last.key || (now - last.ts) >= minInterval;\nif (!shouldLog) return null;\n\nstate[topic] = { key: k, ts: now };\ncontext.set('state', state);\n\nlet compactPayload = payload;\ntry { compactPayload = JSON.parse(k); } catch(e) { compactPayload = payload; }\nconst entry = { ts: new Date().toISOString(), topic, payload: compactPayload };\nmsg.payload = JSON.stringify(entry) + \"\\n\";\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["ems_debug_logger_file"]]},{"id":"ems_debug_logger_file","type":"file","z":"ems_debug_logger_tab","name":"Append /config/ems_debug.log","filename":"/config/www/ems_debug.log","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":640,"y":120,"wires":[["231c4884797d19e8"]]},{"id":"231c4884797d19e8","type":"debug","z":"ems_debug_logger_tab","name":"Dispatcher Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":140,"wires":[]},{"id":"ems_wallbox_tick","type":"inject","z":"ems_tab_wallbox","name":"EMS wallbox tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["ems_wallbox_decision"]]},{"id":"ems_wallbox_decision","type":"function","z":"ems_tab_wallbox","name":"wallbox decision STABLE min6A v13 task-aware","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nfunction clamp(v, min, max) {\n    return Math.max(min, Math.min(max, v));\n}\nfunction roundCurrent(v) {\n    const x = Number(v);\n    return Number.isFinite(x) ? Math.round(x) : 6;\n}\nfunction connectedCarsNeedingEnergy(plan) {\n    const out = [];\n    if (plan.cars?.id3?.connected && n(plan.cars.id3.required_kwh) > 0.5) out.push('id3');\n    if (plan.cars?.id4?.connected && n(plan.cars.id4.required_kwh) > 0.5) out.push('id4');\n    return out;\n}\nfunction manualPriorityCar(core, carsNeeding) {\n    const manual = String(core.wallbox_priority || 'AUTO').toLowerCase();\n    if ((manual === 'id3' || manual === 'id4') && carsNeeding.includes(manual)) return manual;\n    return null;\n}\nfunction pickPriorityCar(core, plan, currentCar) {\n    const cars = [];\n    for (const id of ['id3', 'id4']) {\n        const c = plan.cars?.[id];\n        if (c?.connected && n(c.required_kwh) > 0.5) cars.push({ id, ...c });\n    }\n    if (!cars.length) return null;\n\n    const carsNeedingLocal = cars.map(c => c.id);\n\n    // Ruční priorita musí přebít hold aktivního auta.\n    const manual = manualPriorityCar(core, carsNeedingLocal);\n    if (manual) return manual;\n\n    // Drž aktuálně běžící auto, pokud pořád potřebuje energii a není ruční override.\n    if (currentCar && cars.some(c => c.id === currentCar)) return currentCar;\n\n    const withDeadline = cars\n        .filter(c => c.use_departure && c.departure_ts && n(c.hours_to_departure, 999) >= 0)\n        .sort((a, b) => n(a.departure_ts) - n(b.departure_ts));\n\n    if (withDeadline.length) return withDeadline[0].id;\n\n    cars.sort((a, b) => n(b.required_kwh) - n(a.required_kwh));\n    return cars[0].id;\n}\nfunction maxCurrentFromPhaseLimit(core) {\n    const p = Math.min(n(core.available_l1), n(core.available_l2), n(core.available_l3));\n    if (p >= 3680) return 16;\n    if (p >= 2990) return 13;\n    if (p >= 2300) return 10;\n    if (p >= 1840) return 8;\n    if (p >= 1380) return 6;\n    return 6;\n}\nfunction currentStepIndex(a) {\n    const steps = [6, 8, 10, 13, 16];\n    const i = steps.indexOf(roundCurrent(a));\n    return i >= 0 ? i : 0;\n}\nfunction nextUp(a) {\n    const steps = [6, 8, 10, 13, 16];\n    return steps[Math.min(currentStepIndex(a) + 1, steps.length - 1)];\n}\nfunction nextDown(a) {\n    const steps = [6, 8, 10, 13, 16];\n    return steps[Math.max(currentStepIndex(a) - 1, 0)];\n}\nfunction shouldAskPriority(core, plan, carsNeeding) {\n    if (String(core.wallbox_priority || 'AUTO').toUpperCase() !== 'AUTO') return false;\n    if (!Array.isArray(carsNeeding) || carsNeeding.length < 2) return false;\n\n    const c3 = plan.cars?.id3;\n    const c4 = plan.cars?.id4;\n    if (!c3?.connected || !c4?.connected) return false;\n\n    const d3 = c3.use_departure && c3.departure_ts ? n(c3.departure_ts) : null;\n    const d4 = c4.use_departure && c4.departure_ts ? n(c4.departure_ts) : null;\n\n    if (d3 && d4 && Math.abs(d3 - d4) <= 15 * 60 * 1000) return true;\n    if (!d3 && !d4) return true;\n    return false;\n}\nfunction blankDecision(core, plan, reason = 'default_disabled') {\n    return {\n        ts: Date.now(),\n        mode: 'DISABLED',\n        reason,\n        transfer_switch: 'SOLAR',\n        ask_priority: false,\n        notification_reason: null,\n        id3: {\n            connected: !!plan.cars?.id3?.connected,\n            required_kwh: n(plan.cars?.id3?.required_kwh),\n            current_a: 6,\n            charge_enable: false\n        },\n        id4: {\n            connected: !!plan.cars?.id4?.connected,\n            required_kwh: n(plan.cars?.id4?.required_kwh),\n            current_a: 6,\n            charge_enable: false\n        },\n        debug: {}\n    };\n}\nfunction setCar(decision, car, current) {\n    if (!car || !decision[car]) return;\n    decision[car].charge_enable = true;\n    decision[car].current_a = clamp(roundCurrent(current), 6, 16);\n}\n\nlet ems = global.get('ems') || {};\nconst core = ems.core || {};\nconst plan = ems.plan || {};\nconst dispatcher = ems.dispatcher || {};\nconst now = Date.now();\n\nems.memory = ems.memory || {};\nems.memory.wallbox_stable = ems.memory.wallbox_stable || {\n    active_car: null,\n    active_since: 0,\n    current_a: 6,\n    last_current_change: 0,\n    last_enable_change: 0,\n    inc_since: 0,\n    dec_since: 0\n};\nconst mem = ems.memory.wallbox_stable;\n\nconst wallboxMode = String(core.wallbox_mode || 'AUTO').toUpperCase();\nconst carsNeeding = connectedCarsNeedingEnergy(plan);\nconst maxPhaseCurrent = maxCurrentFromPhaseLimit(core);\nconst batteryPower = n(core.battery_power);\nconst batterySafe =\n    !!core.ems_enabled &&\n    !!core.ems_allow_solar_loads &&\n    !core.battery_load_locked &&\n    n(core.battery_soc) > n(core.effective_min_soc);\n\nconst MIN_ON_MS = 10 * 60 * 1000;          // po zapnutí auta necukat ON/OFF\nconst SWITCH_LOCK_MS = 15 * 60 * 1000;    // neměnit vybrané auto hned po startu\nconst CURRENT_CHANGE_MS = 2 * 60 * 1000;  // proud měnit max jednou za 3 minuty\nconst INC_STABLE_MS = 3 * 60 * 1000;      // zvedat až po 5 min stabilního plusu\nconst DEC_STABLE_MS = 2 * 60 * 1000;          // snižovat po 90 s moc velkého odběru\nconst INC_THRESHOLD_W = 1000;\nconst DEC_THRESHOLD_W = -2500;\n\nlet decision = blankDecision(core, plan);\n\ndecision.debug = {\n    mode_helper: wallboxMode,\n    priority_helper: core.wallbox_priority || 'AUTO',\n    manual_priority_override: manualPriorityCar(core, carsNeeding),\n    cars_needing: carsNeeding,\n    connected_required_kwh: n(plan.cars?.connected_required_kwh),\n    battery_power: batteryPower,\n    battery_soc: n(core.battery_soc),\n    effective_min_soc: n(core.effective_min_soc),\n    target_soc: n(core.target_soc),\n    battery_load_locked: !!core.battery_load_locked,\n    max_phase_current: maxPhaseCurrent,\n    allow_car_solar: !!plan.solar?.allow_car_solar,\n    allow_car_grid: !!plan.grid?.allow_car_grid,\n    memory: {...mem},\n    dispatcher_wallbox_pending: !!dispatcher.pending?.wallbox,\n    wallbox_task_active: !!ems.tasks?.wallbox?.active,\n    wallbox_task_primary: ems.tasks?.wallbox?.primary?.label || null\n};\n\nfunction disable(reason) {\n    decision.mode = 'DISABLED';\n    decision.reason = reason;\n    decision.transfer_switch = 'SOLAR';\n    decision.id3.charge_enable = false;\n    decision.id4.charge_enable = false;\n    decision.id3.current_a = 6;\n    decision.id4.current_a = 6;\n\n    // Resetuj aktivní auto jen u tvrdých stopů. Ne kvůli chvilkové změně přebytku.\n    if (\n        reason === 'ems_disabled' ||\n        reason === 'wallbox_mode_off' ||\n        reason === 'battery_load_locked_until_target' ||\n        reason === 'battery_below_effective_minimum' ||\n        reason === 'no_connected_car_needs_energy'\n    ) {\n        if (mem.active_car) mem.last_enable_change = now;\n        mem.active_car = null;\n        mem.active_since = 0;\n        mem.current_a = 6;\n    }\n}\n\nfunction solarOneCar(reasonPrefix) {\n    const targetCar = pickPriorityCar(core, plan, mem.active_car);\n    if (!targetCar) {\n        disable('no_connected_car_needs_energy');\n        return;\n    }\n\n    let selected = targetCar;\n    const manualOverride = manualPriorityCar(core, carsNeeding);\n\n    // Když už něco běží, drž to, pokud pořád potřebuje energii.\n    // Výjimka: ruční priorita ID3/ID4 musí hold přebít okamžitě.\n    if (\n        !manualOverride &&\n        mem.active_car &&\n        carsNeeding.includes(mem.active_car) &&\n        (now - (mem.active_since || 0)) < SWITCH_LOCK_MS\n    ) {\n        selected = mem.active_car;\n    }\n\n    if (manualOverride) selected = manualOverride;\n\n    if (mem.active_car !== selected) {\n        mem.active_car = selected;\n        mem.active_since = now;\n        mem.last_enable_change = now;\n        mem.current_a = 6;\n        mem.inc_since = 0;\n        mem.dec_since = 0;\n    }\n\n    let current = clamp(roundCurrent(mem.current_a || 6), 6, Math.max(6, maxPhaseCurrent));\n\n    if (batteryPower > INC_THRESHOLD_W && current < maxPhaseCurrent) {\n        if (!mem.inc_since) mem.inc_since = now;\n    } else {\n        mem.inc_since = 0;\n    }\n\n    if (batteryPower < DEC_THRESHOLD_W && current > 6) {\n        if (!mem.dec_since) mem.dec_since = now;\n    } else {\n        mem.dec_since = 0;\n    }\n\n    const canChangeCurrent = (now - (mem.last_current_change || 0)) >= CURRENT_CHANGE_MS;\n\n    if (canChangeCurrent && mem.inc_since && (now - mem.inc_since) >= INC_STABLE_MS) {\n        const next = Math.min(nextUp(current), maxPhaseCurrent);\n        if (next !== current) {\n            current = next;\n            mem.current_a = current;\n            mem.last_current_change = now;\n            mem.inc_since = 0;\n            mem.dec_since = 0;\n        }\n    } else if (canChangeCurrent && mem.dec_since && (now - mem.dec_since) >= DEC_STABLE_MS) {\n        const next = nextDown(current);\n        if (next !== current) {\n            current = next;\n            mem.current_a = current;\n            mem.last_current_change = now;\n            mem.inc_since = 0;\n            mem.dec_since = 0;\n        }\n    }\n\n    // Základ: nad effective minimem aspoň 6 A. Okamžitý solár nesmí vypínat wallbox.\n    current = clamp(roundCurrent(current), 6, Math.max(6, maxPhaseCurrent));\n\n    decision.mode = 'SOLAR';\n    decision.transfer_switch = 'SOLAR';\n    decision.reason = batteryPower > 300\n        ? `${reasonPrefix}_solar_surplus_stable_one_car`\n        : `${reasonPrefix}_battery_support_minimum_6a`;\n    decision.ask_priority = shouldAskPriority(core, plan, carsNeeding);\n    decision.notification_reason = decision.ask_priority ? 'wallbox_priority_needed' : null;\n    decision.id3.charge_enable = false;\n    decision.id4.charge_enable = false;\n    decision.id3.current_a = selected === 'id3' ? current : 6;\n    decision.id4.current_a = selected === 'id4' ? current : 6;\n    setCar(decision, selected, current);\n}\n\nfunction gridCharge() {\n    decision.mode = 'GRID';\n    decision.reason = 'grid_allowed_by_planner';\n    decision.transfer_switch = 'GRID';\n\n    const l3 = plan.grid_purchase?.loads?.id3;\n    const l4 = plan.grid_purchase?.loads?.id4;\n\n    if (l3?.active || l3?.enabled) {\n        decision.id3.current_a = clamp(roundCurrent(l3.current_a || 6), 6, 16);\n        decision.id3.charge_enable = true;\n    }\n    if (l4?.active || l4?.enabled) {\n        decision.id4.current_a = clamp(roundCurrent(l4.current_a || 6), 6, 16);\n        decision.id4.charge_enable = true;\n    }\n\n    if (!decision.id3.charge_enable && !decision.id4.charge_enable) {\n        for (const car of carsNeeding) setCar(decision, car, 6);\n    }\n\n    mem.active_car = decision.id3.charge_enable ? 'id3' : (decision.id4.charge_enable ? 'id4' : null);\n    mem.active_since = mem.active_car ? (mem.active_since || now) : 0;\n    mem.current_a = Math.max(decision.id3.current_a || 6, decision.id4.current_a || 6);\n}\n\n\nfunction forceWallboxTasks() {\n    const wt = ems.tasks?.wallbox || {};\n    decision.mode = 'GRID';\n    decision.reason = 'manual_wallbox_task';\n    decision.transfer_switch = 'GRID';\n    decision.ask_priority = false;\n    decision.notification_reason = null;\n    decision.id3.charge_enable = false;\n    decision.id4.charge_enable = false;\n    decision.id3.current_a = 6;\n    decision.id4.current_a = 6;\n\n    if (wt.id3?.active) {\n        decision.id3.charge_enable = true;\n        decision.id3.current_a = clamp(roundCurrent(wt.id3.current_a || 6), 6, 16);\n    }\n    if (wt.id4?.active) {\n        decision.id4.charge_enable = true;\n        decision.id4.current_a = clamp(roundCurrent(wt.id4.current_a || 6), 6, 16);\n    }\n\n    mem.active_car = decision.id3.charge_enable ? 'id3' : (decision.id4.charge_enable ? 'id4' : null);\n    mem.active_since = mem.active_car ? (mem.active_since || now) : 0;\n    mem.current_a = Math.max(decision.id3.current_a || 6, decision.id4.current_a || 6);\n    decision.debug.wallbox_task = wt;\n}\n\nif (!core.ems_enabled) {\n    disable('ems_disabled');\n\n} else if (wallboxMode === 'OFF') {\n    disable('wallbox_mode_off');\n\n} else if (ems.tasks?.wallbox?.active) {\n    forceWallboxTasks();\n\n} else if (carsNeeding.length === 0) {\n    disable('no_connected_car_needs_energy');\n\n} else if (wallboxMode === 'GRID') {\n    if (plan.grid?.allow_car_grid) gridCharge();\n    else disable('grid_mode_waiting_for_hdo_plan');\n\n} else if (wallboxMode === 'SOLAR') {\n    // V čistém SOLAR režimu battery lock pořád znamená stop.\n    // SOLAR nesmí brát ze sítě, takže při locku / pod minimem vypínáme.\n    if (core.battery_load_locked) {\n        disable('battery_load_locked_until_target');\n    } else if (!batterySafe) {\n        disable('battery_below_effective_minimum');\n    } else {\n        solarOneCar('solar_mode');\n    }\n\n} else { // AUTO\n    // AUTO: plánované HDO/GRID nabíjení aut má přednost i při battery_load_locked.\n    // Lock chrání FV/zátěže z baterky, ale nesmí blokovat nákup auta z NT.\n    if (plan.grid?.allow_car_grid) {\n        gridCharge();\n\n    } else if (core.battery_load_locked) {\n        disable('battery_load_locked_until_target');\n\n    } else if (batterySafe) {\n        solarOneCar('auto');\n\n    } else {\n        disable('auto_no_allowed_energy_source');\n    }\n}\n\ndecision.debug.memory_after = {...mem};\nems.memory.wallbox_stable = mem;\nems.wallbox = decision;\nglobal.set('ems', ems);\n\nmsg.topic = 'ems/wallbox';\nmsg.payload = decision;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["ems_wallbox_debug","ems_wallbox_log_out"]]},{"id":"ems_wallbox_debug","type":"debug","z":"ems_tab_wallbox","name":"global.ems.wallbox","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":120,"wires":[]},{"id":"ems_wallbox_log_out","type":"link out","z":"ems_tab_wallbox","name":"LOG WALLBOX","mode":"link","links":["ems_debug_logger_in"],"x":635,"y":200,"wires":[]},{"id":"ems_dispatcher_tick","type":"inject","z":"ems_dispatcher_tab","name":"Dispatcher Tick","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"15","topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["ems_dispatcher_function"]]},{"id":"ems_dispatcher_function","type":"function","z":"ems_dispatcher_tab","name":"EMS Dispatcher split wallbox current/enable","func":"\nconst ems = global.get('ems') || {};\nconst wallbox = ems.wallbox || {};\nconst battery = ems.battery_grid || {};\nconst boiler = ems.boiler || {};\nconst core = ems.core || {};\n\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\n\nfunction st(id, def = 'unknown') { return states[id]?.state ?? def; }\nfunction isOn(id) { return st(id) === 'on'; }\nfunction num(id, def = 0) { const v = Number(st(id, def)); return Number.isFinite(v) ? v : def; }\nfunction roundCurrent(v) { const x = Number(v); return Number.isFinite(x) ? Math.round(x) : 0; }\nfunction stableString(obj) { return JSON.stringify(obj); }\nfunction sameEnable(a, b) { return a.source === b.source && a.id3_enable === b.id3_enable && a.id4_enable === b.id4_enable; }\nfunction sameCurrent(a, b) { return roundCurrent(a.id3_current) === roundCurrent(b.id3_current) && roundCurrent(a.id4_current) === roundCurrent(b.id4_current); }\nfunction sameBattery(a, b) { if (a.charge_enable !== b.charge_enable) return false; if (!b.charge_enable) return true; return roundCurrent(a.current_a) === roundCurrent(b.current_a); }\nfunction sameBoiler(a, b) { return a.bottom_t1 === b.bottom_t1 && a.bottom_t2 === b.bottom_t2 && a.pergola_t1 === b.pergola_t1 && a.pergola_t2 === b.pergola_t2; }\nfunction makePending(target, retries = 0) { return { target, ts: Date.now(), retries }; }\nfunction shouldVerify(pending, delayMs) { return pending && (Date.now() - (pending.ts || 0) >= delayMs); }\nfunction targetAnyOn(t) { return !!(t?.id3_enable || t?.id4_enable); }\n\nems.dispatcher = ems.dispatcher || {};\nems.dispatcher.last = ems.dispatcher.last || {};\nems.dispatcher.pending = ems.dispatcher.pending || {};\nems.dispatcher.blocked_until = ems.dispatcher.blocked_until || {};\nems.dispatcher.stats = ems.dispatcher.stats || {};\n\nconst VERIFY_DELAY = { wallbox_enable: 60000, battery: 15000, boiler: 15000 };\nconst MAX_RETRIES = { wallbox_enable: 1, battery: 2, boiler: 2 };\nconst ERROR_COOLDOWN_MS = 10 * 60 * 1000;\nconst WALLBOX_CURRENT_COOLDOWN_MS = 3 * 60 * 1000;\nconst BOILER_LOCKOUT_AFTER_WALLBOX_MS = 10 * 60 * 1000;\n\nlet wallboxCurrentMsg = null;\nlet wallboxEnableMsg = null;\nlet batteryStartMsg = null;\nlet batteryStopMsg = null;\nlet boilerMsg = null;\nlet notifyWoodMsg = null;\nlet notifyPriorityMsg = null;\nlet errorMsg = null;\n\nconst changed = {\n    wallbox_enable: false,\n    wallbox_enable_verified: false,\n    wallbox_enable_retry: false,\n    wallbox_current: false,\n    wallbox_current_skipped_cooldown: false,\n    wallbox_safety_override: false,\n    battery_start: false,\n    battery_stop: false,\n    battery_verified: false,\n    battery_retry: false,\n    boiler: false,\n    boiler_verified: false,\n    boiler_retry: false,\n    notify_wood: false,\n    notify_priority: false,\n    error: false,\n    battery_cleanup: false\n};\n\nfunction requestError(title, message) {\n    errorMsg = { payload: { title, message, channel: 'ems', importance: 'high', ttl: 0 } };\n    changed.error = true;\n}\n\nif (!core.ems_enabled) {\n    delete ems.dispatcher.pending.wallbox_enable;\n    delete ems.dispatcher.pending.battery;\n    delete ems.dispatcher.pending.boiler;\n\n    node.status({ fill: 'grey', shape: 'ring', text: 'EMS disabled - no actions' });\n    msg.topic = 'ems/dispatcher';\n    msg.payload = { ts: Date.now(), action: 'none', reason: 'ems_disabled_no_dispatch' };\n    global.set('ems', ems);\n    return [null, null, null, null, null, null, null, null, msg];\n}\n\nconst rawWallboxEnableTarget = {\n    source: wallbox.transfer_switch || 'SOLAR',\n    id3_enable: !!wallbox.id3?.charge_enable,\n    id4_enable: !!wallbox.id4?.charge_enable\n};\nconst rawWallboxCurrentTarget = {\n    id3_current: roundCurrent(wallbox.id3?.current_a || 6),\n    id4_current: roundCurrent(wallbox.id4?.current_a || 6)\n};\nconst actualWallboxEnable = {\n    source: isOn('switch.wallbox_ts') ? 'GRID' : 'SOLAR',\n    id3_enable: isOn('switch.tuya_wallbox_2_wallbox_charge_enable'),\n    id4_enable: isOn('switch.tuya_wallbox_1_wallbox_charge_enable')\n};\nconst actualWallboxCurrent = {\n    id3_current: roundCurrent(num('number.tuya_wallbox_2_wallbox_current_limit', 6)),\n    id4_current: roundCurrent(num('number.tuya_wallbox_1_wallbox_current_limit', 6))\n};\nconst actualWallbox = { ...actualWallboxEnable, ...actualWallboxCurrent };\n\nconst rawBatteryTarget = { charge_enable: !!battery.charge_enable, current_a: roundCurrent(battery.current_a || 0) };\nconst actualBattery = {\n    charge_enable: isOn('switch.sit_menice') && String(st('select.easun_l1_easun_l1_battery_charging_priority', '')).toLowerCase().includes('utility'),\n    current_a: roundCurrent(num('number.easun_l1_easun_l1_maximum_mains_charging_current', 0))\n};\nconst rawBoilerTarget = {\n    bottom_t1: !!boiler.bottom_boiler?.t1,\n    bottom_t2: !!boiler.bottom_boiler?.t2,\n    pergola_t1: !!boiler.pergola_boiler?.t1,\n    pergola_t2: !!boiler.pergola_boiler?.t2\n};\nconst actualBoiler = {\n    bottom_t1: isOn('switch.rele_16ch_tech_pin_2_2'),\n    bottom_t2: isOn('switch.rele_16ch_tech_pin_9_2'),\n    pergola_t1: isOn('switch.bojler_pergola_1'),\n    pergola_t2: isOn('switch.bojler_pergola_2')\n};\n\nconst wallboxLive = core.ems_live_wallbox === true;\nconst batteryLive = core.ems_live_battery_grid === true;\nconst boilerLive = core.ems_live_boiler === true;\n\nconst wallboxBatteryProtectionActive = !!core.battery_load_locked || Number(core.battery_soc || 0) <= Number(core.effective_min_soc || 0);\nconst rawWallboxWantsGrid = rawWallboxEnableTarget.source === 'GRID';\nconst safetyWallboxEnableTarget = { source: 'SOLAR', id3_enable: false, id4_enable: false };\nconst safetyWallboxCurrentTarget = { id3_current: 6, id4_current: 6 };\n\n// Battery protection may kill SOLAR charging, but it must NOT block planned GRID/HDO charging.\nconst wallboxEnableTarget =\n    wallboxBatteryProtectionActive && !rawWallboxWantsGrid\n        ? safetyWallboxEnableTarget\n        : (wallboxLive ? rawWallboxEnableTarget : actualWallboxEnable);\n\nconst wallboxCurrentTarget =\n    wallboxBatteryProtectionActive && !rawWallboxWantsGrid\n        ? safetyWallboxCurrentTarget\n        : (wallboxLive ? rawWallboxCurrentTarget : actualWallboxCurrent);\n\nconst wallboxControlAllowed = wallboxLive || wallboxBatteryProtectionActive || rawWallboxWantsGrid;\n\nconst batteryTarget = batteryLive ? rawBatteryTarget : { charge_enable: false, current_a: 0 };\n\nconst wallboxRecentChange = Date.now() - (ems.dispatcher.last.wallbox_action_ts || 0) < BOILER_LOCKOUT_AFTER_WALLBOX_MS;\nconst wallboxEnablePending = !!ems.dispatcher.pending.wallbox_enable;\nconst wallboxActiveOrRequested = targetAnyOn(wallboxEnableTarget) || actualWallboxEnable.id3_enable || actualWallboxEnable.id4_enable || wallboxEnablePending;\nconst forceBoilerOffForWallbox = wallboxActiveOrRequested || wallboxRecentChange;\nconst boilerTarget = (!boilerLive || forceBoilerOffForWallbox)\n    ? { bottom_t1: false, bottom_t2: false, pergola_t1: false, pergola_t2: false }\n    : rawBoilerTarget;\n\nfunction handleVerifiedApply(key, target, actual, sameFn, makeMsgFn, title, verifyDelayMs, liveAllowed = true, opts = {}) {\n    let pending = ems.dispatcher.pending[key];\n    const blockedUntil = ems.dispatcher.blocked_until[key] || 0;\n    const maxRetries = MAX_RETRIES[key] ?? 2;\n\n    if (!liveAllowed) {\n        delete ems.dispatcher.pending[key];\n        delete ems.dispatcher.blocked_until[key];\n        return null;\n    }\n\n    if (pending && opts.forceOverride && !sameFn(pending.target, target)) {\n        pending = null;\n        delete ems.dispatcher.pending[key];\n        changed.wallbox_safety_override = key === 'wallbox_enable';\n    }\n\n    if (pending) {\n        if (sameFn(actual, pending.target)) {\n            ems.dispatcher.last[key] = stableString(pending.target);\n            delete ems.dispatcher.pending[key];\n            delete ems.dispatcher.blocked_until[key];\n            changed[key + '_verified'] = true;\n            return null;\n        }\n        if (!shouldVerify(pending, verifyDelayMs)) return null;\n        if ((pending.retries || 0) < maxRetries) {\n            const retryTarget = pending.target;\n            ems.dispatcher.pending[key] = makePending(retryTarget, (pending.retries || 0) + 1);\n            changed[key + '_retry'] = true;\n            return makeMsgFn(retryTarget);\n        }\n        delete ems.dispatcher.pending[key];\n        ems.dispatcher.blocked_until[key] = Date.now() + ERROR_COOLDOWN_MS;\n\n        // Wallbox enable failure is noisy during car sleep / finishing; do not spam phone.\n        if (key !== 'wallbox_enable') {\n            requestError('EMS: akce se neprovedla', `${title} se nepodařilo aplikovat ani po ${maxRetries} opakování. Target: ${stableString(pending.target)} Actual: ${stableString(actual)}`);\n        }\n        return null;\n    }\n\n    if (sameFn(actual, target)) {\n        ems.dispatcher.last[key] = stableString(target);\n        delete ems.dispatcher.blocked_until[key];\n        return null;\n    }\n    if (Date.now() < blockedUntil) return null;\n\n    ems.dispatcher.pending[key] = makePending(target, 0);\n    changed[key] = true;\n    return makeMsgFn(target);\n}\n\n// 1) Enable/disable and source switch only. This path never changes current.\nwallboxEnableMsg = handleVerifiedApply(\n    'wallbox_enable',\n    wallboxEnableTarget,\n    actualWallboxEnable,\n    sameEnable,\n    target => ({ payload: target }),\n    'Wallbox enable',\n    VERIFY_DELAY.wallbox_enable,\n    wallboxControlAllowed,\n    { forceOverride: wallboxBatteryProtectionActive || rawWallboxWantsGrid }\n);\n\n// 2) Current-only path. This must never call turn_on/turn_off.\n// If we are about to enable a wallbox, set current first. The enable service node is delayed by 2 s.\nif (wallboxControlAllowed && (!wallboxBatteryProtectionActive || rawWallboxWantsGrid) && targetAnyOn(wallboxEnableTarget)) {\n    const currentDiffers = !sameCurrent(actualWallboxCurrent, wallboxCurrentTarget);\n    const enableChanging = !!wallboxEnableMsg;\n    const lastCurrentTs = ems.dispatcher.last.wallbox_current_action_ts || 0;\n    const currentCooldownOk = (Date.now() - lastCurrentTs) >= WALLBOX_CURRENT_COOLDOWN_MS;\n\n    if (currentDiffers && (enableChanging || currentCooldownOk)) {\n        wallboxCurrentMsg = { payload: wallboxCurrentTarget };\n        ems.dispatcher.last.wallbox_current_action_ts = Date.now();\n        ems.dispatcher.last.wallbox_current = stableString(wallboxCurrentTarget);\n        changed.wallbox_current = true;\n    } else if (currentDiffers) {\n        changed.wallbox_current_skipped_cooldown = true;\n    }\n}\n\nif (wallboxEnableMsg || wallboxCurrentMsg) {\n    ems.dispatcher.last.wallbox_action_ts = Date.now();\n}\n\n\n// Battery task cleanup: after Force/Balance completes, always call stop script once,\n// even if AC-in is already off and actualBattery looks false. This returns charging priority to Only PV\n// and turns switch.sit_menice off when safety allows it.\nconst cleanupRequest = ems.tasks?.cleanup_request || ems.tasks?.battery_task?.cleanup_request || null;\nconst cleanupId = cleanupRequest?.id || cleanupRequest?.task_key || null;\nif (cleanupId && ems.dispatcher.last.battery_cleanup_id !== cleanupId) {\n    batteryStopMsg = { payload: { cleanup: true, reason: cleanupRequest.reason || 'battery_task_completed' } };\n    changed.battery_stop = true;\n    changed.battery_cleanup = true;\n    ems.dispatcher.last.battery_cleanup_id = cleanupId;\n    if (ems.memory?.tasks?.battery_completion?.cleanup_request) {\n        ems.memory.tasks.battery_completion.cleanup_ack_ts = Date.now();\n    }\n}\n\nconst batteryMsg = !batteryStopMsg ? handleVerifiedApply(\n    'battery',\n    batteryTarget,\n    actualBattery,\n    sameBattery,\n    target => ({ payload: target }),\n    'Battery grid charge',\n    VERIFY_DELAY.battery,\n    true\n) : null;\nif (batteryMsg) {\n    if (batteryMsg.payload.charge_enable) {\n        batteryStartMsg = { payload: { current_a: batteryMsg.payload.current_a } };\n        changed.battery_start = true;\n    } else {\n        batteryStopMsg = { payload: {} };\n        changed.battery_stop = true;\n    }\n}\n\nboilerMsg = handleVerifiedApply(\n    'boiler',\n    boilerTarget,\n    actualBoiler,\n    sameBoiler,\n    target => ({ payload: target }),\n    'Bojlery',\n    VERIFY_DELAY.boiler,\n    true\n);\nif (boilerMsg) changed.boiler = true;\n\nconst woodNotificationKey = boiler.ask_notification ? boiler.notification_reason : null;\nif (core.ems_live_notifications && woodNotificationKey && ems.dispatcher.last.wood_notification !== woodNotificationKey) {\n    ems.dispatcher.last.wood_notification = woodNotificationKey;\n    notifyWoodMsg = { payload: {} };\n    changed.notify_wood = true;\n}\nif (!woodNotificationKey) ems.dispatcher.last.wood_notification = null;\n\nconst priorityNotificationKey = wallbox.ask_priority ? wallbox.notification_reason : null;\nif (core.ems_live_notifications && priorityNotificationKey && ems.dispatcher.last.wallbox_priority_notification !== priorityNotificationKey) {\n    ems.dispatcher.last.wallbox_priority_notification = priorityNotificationKey;\n    notifyPriorityMsg = { payload: {} };\n    changed.notify_priority = true;\n}\nif (!priorityNotificationKey) ems.dispatcher.last.wallbox_priority_notification = null;\n\nems.dispatcher.last_action =\n    wallboxCurrentMsg ? 'wallbox_current_apply' :\n    wallboxEnableMsg ? 'wallbox_enable_apply' :\n    batteryStartMsg ? 'battery_grid_start' :\n    changed.battery_cleanup ? 'battery_task_cleanup' :\n    batteryStopMsg ? 'battery_grid_stop' :\n    boilerMsg ? 'boiler_apply' :\n    notifyWoodMsg ? 'notify_wood_plan' :\n    notifyPriorityMsg ? 'notify_wallbox_priority' :\n    errorMsg ? 'notify_error' :\n    changed.wallbox_enable_verified ? 'wallbox_enable_verified' :\n    changed.wallbox_enable_retry ? 'wallbox_enable_retry' :\n    changed.wallbox_current_skipped_cooldown ? 'wallbox_current_cooldown' :\n    changed.wallbox_safety_override ? 'wallbox_safety_override' :\n    changed.battery_verified ? 'battery_verified' :\n    changed.battery_retry ? 'battery_retry' :\n    changed.boiler_verified ? 'boiler_verified' :\n    changed.boiler_retry ? 'boiler_retry' :\n    'idle';\n\nems.dispatcher.last_change = Date.now();\nglobal.set('ems', ems);\n\nconst debugPayload = {\n    ts: Date.now(),\n    wallboxLive,\n    batteryLive,\n    boilerLive,\n    wallboxBatteryProtectionActive,\n    rawWallboxWantsGrid,\n    wallboxControlAllowed,\n    forceBoilerOffForWallbox,\n    wallboxRecentChange,\n    wallboxEnablePending,\n    rawWallboxEnableTarget,\n    wallboxEnableTarget,\n    actualWallboxEnable,\n    rawWallboxCurrentTarget,\n    wallboxCurrentTarget,\n    actualWallboxCurrent,\n    rawBatteryTarget,\n    batteryTarget,\n    actualBattery,\n    rawBoilerTarget,\n    boilerTarget,\n    actualBoiler,\n    pending: ems.dispatcher.pending,\n    blocked_until: ems.dispatcher.blocked_until,\n    changed,\n    last: ems.dispatcher.last,\n    last_action: ems.dispatcher.last_action\n};\n\nconst debug = { topic: 'ems/dispatcher', payload: debugPayload };\nconst anyAction = wallboxCurrentMsg || wallboxEnableMsg || batteryStartMsg || batteryStopMsg || boilerMsg || notifyWoodMsg || notifyPriorityMsg || errorMsg;\nconst hasPending = Object.keys(ems.dispatcher.pending).length > 0;\nnode.status({\n    fill: anyAction ? 'green' : (hasPending ? 'yellow' : 'grey'),\n    shape: anyAction ? 'dot' : 'ring',\n    text: anyAction ? ems.dispatcher.last_action : (hasPending ? 'pending verify' : 'idle')\n});\n\nreturn [\n    wallboxCurrentMsg,\n    wallboxEnableMsg,\n    batteryStartMsg,\n    batteryStopMsg,\n    boilerMsg,\n    notifyWoodMsg,\n    notifyPriorityMsg,\n    errorMsg,\n    debug\n];\n","outputs":9,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["ems_call_wallbox_current"],["ems_delay_wallbox_enable"],["ems_call_battery_start"],["ems_call_battery_stop"],["ems_call_boiler"],["ems_call_notify_wood"],["ems_call_notify_priority"],["ems_call_notify_error"],["ems_dispatcher_debug","ems_dispatcher_log_link"]]},{"id":"ems_call_wallbox_current","type":"api-call-service","z":"ems_dispatcher_tab","name":"Apply wallbox current only","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_wallboxes_apply_current","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"id3_current\":{{payload.id3_current}},\"id4_current\":{{payload.id4_current}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_wallboxes_apply_current","x":850,"y":40,"wires":[[]]},{"id":"ems_delay_wallbox_enable","type":"delay","z":"ems_dispatcher_tab","name":"enable after current 2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":830,"y":90,"wires":[["ems_call_wallbox_enable"]]},{"id":"ems_call_wallbox_enable","type":"api-call-service","z":"ems_dispatcher_tab","name":"Apply wallbox enable/source","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_wallboxes_apply_enable","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"source\":\"{{payload.source}}\",\"id3_enable\":{{payload.id3_enable}},\"id4_enable\":{{payload.id4_enable}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_wallboxes_apply_enable","x":1090,"y":90,"wires":[[]]},{"id":"ems_call_battery_start","type":"api-call-service","z":"ems_dispatcher_tab","name":"Start battery grid charge","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_start_grid_charge","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"current_a\":{{payload.current_a}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_start_grid_charge","x":850,"y":140,"wires":[[]]},{"id":"ems_call_battery_stop","type":"api-call-service","z":"ems_dispatcher_tab","name":"Stop battery grid charge","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_stop_grid_charge","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_stop_grid_charge","x":850,"y":190,"wires":[[]]},{"id":"ems_call_boiler","type":"api-call-service","z":"ems_dispatcher_tab","name":"Apply boiler decision","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_boilers_apply_decision","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"bottom_t1\":{{payload.bottom_t1}},\"bottom_t2\":{{payload.bottom_t2}},\"pergola_t1\":{{payload.pergola_t1}},\"pergola_t2\":{{payload.pergola_t2}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_boilers_apply_decision","x":840,"y":240,"wires":[[]]},{"id":"ems_call_notify_wood","type":"api-call-service","z":"ems_dispatcher_tab","name":"Ask wood boiler plan","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_ask_bottom_boiler_wood","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_ask_bottom_boiler_wood","x":840,"y":290,"wires":[[]]},{"id":"ems_call_notify_priority","type":"api-call-service","z":"ems_dispatcher_tab","name":"Ask wallbox priority","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_ask_wallbox_priority","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_ask_wallbox_priority","x":840,"y":340,"wires":[[]]},{"id":"ems_call_notify_error","type":"api-call-service","z":"ems_dispatcher_tab","name":"EMS notify error","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_notify_david","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"title\":\"{{payload.title}}\",\"message\":\"{{payload.message}}\",\"channel\":\"{{payload.channel}}\",\"importance\":\"{{payload.importance}}\",\"ttl\":{{payload.ttl}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_notify_david","x":830,"y":390,"wires":[[]]},{"id":"ems_dispatcher_debug","type":"debug","z":"ems_dispatcher_tab","name":"Dispatcher Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":460,"wires":[]},{"id":"ems_dispatcher_log_link","type":"link out","z":"ems_dispatcher_tab","name":"LOG DISPATCHER","mode":"link","links":["ems_debug_logger_in"],"x":795,"y":510,"wires":[]},{"id":"ems_safety_tick","type":"inject","z":"ems_tab_safety","name":"Safety tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["ems_safety_manager"]]},{"id":"ems_safety_manager","type":"function","z":"ems_tab_safety","name":"AC-in + Emergency Battery Safety v1","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = undefined) { return states[id]?.state ?? def; }\nfunction b(id) { return states[id]?.state === 'on'; }\nfunction minPositive(vals, def = 0) {\n    const xs = vals.map(v => n(v, 0)).filter(v => v > 0);\n    return xs.length ? Math.min(...xs) : def;\n}\nfunction round(v, d = 2) {\n    const m = Math.pow(10, d);\n    return Math.round(n(v) * m) / m;\n}\nfunction safetyReasonDisplay(r) {\n    const m = {\n        idle:'Klid', battery_voltage_critical:'Kriticky nízké napětí baterie', battery_voltage_recovered:'Napětí baterie obnoveno',\n        battery_voltage_still_low:'Napětí baterie je stále nízké', emergency_disabled:'Nouzové dobíjení vypnuto', battery_voltage_safe:'Napětí baterie v pořádku',\n        hold_hysteresis:'Drží stav podle hystereze', manager_disabled_keep_current:'Správce vypnutý, drží aktuální stav',\n        emergency_battery_voltage_critical:'Nouzově připojuje síť kvůli baterii', battery_grid_charge_requested:'EMS požaduje dobíjení baterie',\n        battery_force_task_grid_requested:'Force úkol požaduje síť', force_on:'Ručně trvale zapnuto', force_off:'Ručně vypnuto',\n        force_off_overridden_low_voltage:'Ruční vypnutí přebito nízkým napětím', battery_voltage_below_connect_threshold:'Napětí pod prahem pro připnutí sítě',\n        battery_voltage_above_disconnect_threshold:'Napětí nad prahem pro odpojení sítě', inside_voltage_hysteresis_keep_current:'Uvnitř hystereze, drží stav'\n    };\n    return m[String(r||'')] || String(r || 'Bez důvodu');\n}\n\nlet ems = global.get('ems') || {};\nems.memory = ems.memory || {};\nems.memory.safety = ems.memory.safety || {};\nconst mem = ems.memory.safety;\nconst now = Date.now();\nconst core = ems.core || {};\nconst normalBatteryGridActive = !!ems.battery_grid?.charge_enable;\nconst taskBatteryGridActive = !!ems.tasks?.battery_primary?.active && !!ems.tasks?.battery_primary?.grid_allowed;\n\nconst enabled = b('input_boolean.ems_ac_in_manager_enabled');\nconst emergencyEnabled = b('input_boolean.ems_emergency_battery_charge_enabled');\nconst mode = String(s('input_select.ems_ac_in_mode', 'AUTO')).toUpperCase();\nconst connectBelow = n(s('input_number.ems_ac_in_connect_below_v'), 50.0);\nconst disconnectAbove = n(s('input_number.ems_ac_in_disconnect_above_v'), 52.8);\nconst minSwitchMs = n(s('input_number.ems_ac_in_min_switch_interval_min'), 5) * 60000;\nconst emergencyBelow = n(s('input_number.ems_emergency_charge_below_v'), 47.5);\nconst emergencyRecover = n(s('input_number.ems_emergency_charge_recover_above_v'), 49.2);\nconst emergencyCurrent = n(s('input_number.ems_emergency_charge_current_a'), 10);\n\nconst voltage = minPositive([\n    s('sensor.jk_bms_total_voltage'),\n    s('sensor.jk_bms_jk_bms_1_total_voltage')\n], n(s('sensor.easun_l2_easun_l2_battery_average_voltage'), 0));\nconst acInActual = b('switch.sit_menice');\n\n// Emergency charge latch. This is voltage based, not SOC based.\nmem.emergency_active = !!mem.emergency_active;\nlet emergencyReason = 'idle';\nif (emergencyEnabled && voltage > 0 && voltage <= emergencyBelow) {\n    mem.emergency_active = true;\n    emergencyReason = 'battery_voltage_critical';\n} else if (mem.emergency_active && voltage >= emergencyRecover) {\n    mem.emergency_active = false;\n    emergencyReason = 'battery_voltage_recovered';\n} else if (mem.emergency_active) {\n    emergencyReason = 'battery_voltage_still_low';\n} else if (!emergencyEnabled) {\n    emergencyReason = 'emergency_disabled';\n} else {\n    emergencyReason = 'battery_voltage_safe';\n}\nconst emergencyActive = !!mem.emergency_active;\n\nlet desiredOn = acInActual;\nlet acReason = 'hold_hysteresis';\nlet criticalBypass = false;\nif (!enabled) {\n    desiredOn = acInActual;\n    acReason = 'manager_disabled_keep_current';\n} else if (emergencyActive) {\n    desiredOn = true;\n    acReason = 'emergency_battery_voltage_critical';\n    criticalBypass = true;\n} else if (normalBatteryGridActive || taskBatteryGridActive) {\n    desiredOn = true;\n    acReason = normalBatteryGridActive ? 'battery_grid_charge_requested' : 'battery_force_task_grid_requested';\n} else if (mode === 'FORCE_ON') {\n    desiredOn = true;\n    acReason = 'force_on';\n} else if (mode === 'FORCE_OFF') {\n    if (voltage > 0 && voltage <= connectBelow) {\n        desiredOn = true;\n        acReason = 'force_off_overridden_low_voltage';\n        criticalBypass = true;\n    } else {\n        desiredOn = false;\n        acReason = 'force_off';\n    }\n} else {\n    // AUTO hysteresis\n    if (voltage > 0 && voltage <= connectBelow) {\n        desiredOn = true;\n        acReason = 'battery_voltage_below_connect_threshold';\n        criticalBypass = true;\n    } else if (voltage >= disconnectAbove) {\n        desiredOn = false;\n        acReason = 'battery_voltage_above_disconnect_threshold';\n    } else {\n        desiredOn = acInActual;\n        acReason = 'inside_voltage_hysteresis_keep_current';\n    }\n}\n\nconst lastDesired = mem.last_desired_on;\nconst lastSwitchTs = mem.last_switch_ts || 0;\nconst switchDue = desiredOn !== acInActual && (criticalBypass || now - lastSwitchTs >= minSwitchMs);\nconst switchBlocked = desiredOn !== acInActual && !switchDue;\n\nlet acOnMsg = null, acOffMsg = null, emergencyOnMsg = null, emergencyOffMsg = null;\nif (switchDue) {\n    if (desiredOn) acOnMsg = { payload: {} };\n    else acOffMsg = { payload: {} };\n    mem.last_switch_ts = now;\n}\n\n// Call emergency scripts only on edge, but repeat ON after restart if actual state is unknown enough.\nif (emergencyActive && !mem.emergency_script_on) {\n    emergencyOnMsg = { payload: { current_a: emergencyCurrent } };\n    mem.emergency_script_on = true;\n} else if (!emergencyActive && mem.emergency_script_on) {\n    // Do not switch to PV-only while the normal grid-charge manager is actively charging.\n    if (!normalBatteryGridActive && !taskBatteryGridActive) emergencyOffMsg = { payload: {} };\n    mem.emergency_script_on = false;\n}\n\nmem.last_desired_on = desiredOn;\n\nconst safety = {\n    ts: now,\n    voltage: round(voltage, 2),\n    enabled,\n    ac_in: {\n        status: desiredOn ? 'ON' : 'OFF',\n        status_display: desiredOn ? 'Síť připojena' : 'Ostrovní provoz',\n        actual_on: acInActual,\n        desired_on: desiredOn,\n        mode,\n        reason: acReason,\n        reason_display: safetyReasonDisplay(acReason),\n        switched: !!switchDue,\n        switch_blocked_by_min_interval: !!switchBlocked,\n        last_switch_ts: mem.last_switch_ts || 0,\n        thresholds: { connect_below_v: connectBelow, disconnect_above_v: disconnectAbove }\n    },\n    emergency: {\n        enabled: emergencyEnabled,\n        active: emergencyActive,\n        status: emergencyActive ? 'ACTIVE' : 'IDLE',\n        status_display: emergencyActive ? 'Nouzové dobíjení' : 'V klidu',\n        reason: emergencyReason,\n        reason_display: safetyReasonDisplay(emergencyReason),\n        current_a: emergencyCurrent,\n        thresholds: { below_v: emergencyBelow, recover_above_v: emergencyRecover }\n    },\n    requests: {\n        normal_battery_grid_active: normalBatteryGridActive,\n        task_battery_grid_active: taskBatteryGridActive\n    }\n};\nems.safety = safety;\nglobal.set('ems', ems);\nconst out = { topic: 'ems/safety', payload: safety };\nreturn [acOnMsg, acOffMsg, emergencyOnMsg, emergencyOffMsg, out, out, out];\n","outputs":7,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":120,"wires":[["ems_call_ac_in_on"],["ems_call_ac_in_off"],["ems_call_emergency_on"],["ems_call_emergency_off"],["ems_safety_mqtt"],["ems_safety_debug"],["ems_safety_log_out"]]},{"id":"ems_call_ac_in_on","type":"api-call-service","z":"ems_tab_safety","name":"AC-in ON","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_ac_in_on","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_ac_in_on","x":800,"y":40,"wires":[[]]},{"id":"ems_call_ac_in_off","type":"api-call-service","z":"ems_tab_safety","name":"AC-in OFF","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_ac_in_off","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_ac_in_off","x":800,"y":90,"wires":[[]]},{"id":"ems_call_emergency_on","type":"api-call-service","z":"ems_tab_safety","name":"Emergency charge ON","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_emergency_grid_charge_on","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"current_a\":{{payload.current_a}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_emergency_grid_charge_on","x":830,"y":140,"wires":[[]]},{"id":"ems_call_emergency_off","type":"api-call-service","z":"ems_tab_safety","name":"Emergency charge OFF","server":"d6487c47.43254","version":7,"debugenabled":false,"action":"script.ems_inverters_emergency_grid_charge_off","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"script","service":"ems_inverters_emergency_grid_charge_off","x":830,"y":190,"wires":[[]]},{"id":"ems_safety_mqtt","type":"mqtt out","z":"ems_tab_safety","name":"EMS Safety MQTT","topic":"","qos":"","retain":"true","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"dfd2960398e9d1c1","x":810,"y":250,"wires":[]},{"id":"ems_safety_debug","type":"debug","z":"ems_tab_safety","name":"global.ems.safety","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":310,"wires":[]},{"id":"ems_safety_log_out","type":"link out","z":"ems_tab_safety","name":"LOG SAFETY","mode":"link","links":["ems_debug_logger_in"],"x":775,"y":360,"wires":[]},{"id":"ems_task_tick","type":"inject","z":"ems_tab_tasks","name":"EMS task tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["ems_task_manager"]]},{"id":"ems_task_manager","type":"function","z":"ems_tab_tasks","name":"Task Manager force + maintenance v4 balance-detector","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nfunction round(v, d = 2) {\n    const x = Number(v);\n    if (!Number.isFinite(x)) return v;\n    const m = Math.pow(10, d);\n    return Math.round(x * m) / m;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = undefined) { return states[id]?.state ?? def; }\nfunction b(id) { return states[id]?.state === 'on'; }\nfunction mode(id) { return String(s(id, 'OFF')).toUpperCase(); }\nfunction ntOnly(m) { return String(m || '').toUpperCase() === 'FORCE_NT_ONLY'; }\nfunction nowIso(ts) { return ts ? new Date(ts).toISOString() : null; }\nfunction modeWindow(m, core) {\n    m = String(m || 'OFF').toUpperCase();\n    const nt = String(core.hdo_state || '').toUpperCase() === 'NT';\n    if (m === 'OFF') return {allowed:false, pending:false, status:'OFF', reason:'force_off'};\n    if (m === 'FORCE_ANYTIME') return {allowed:true, pending:false, status:'PENDING_START', reason:'allowed_anytime'};\n    if (m === 'FORCE_NT_ONLY') {\n        return nt\n            ? {allowed:true, pending:false, status:'PENDING_START', reason:'nt_active'}\n            : {allowed:false, pending:true, status:'PENDING_NT', reason:'waiting_for_nt'};\n    }\n    return {allowed:false, pending:false, status:'OFF', reason:'unknown_mode'};\n}\nfunction isRunningStatus(st) { return ['RUNNING','HOLDING_56V','HEATING','CHARGING'].includes(String(st||'')); }\nfunction displayStatus(st) {\n    const m = {\n        OFF:'Vypnuto', IDLE:'Připraveno', PENDING_NT:'Čeká na nízký tarif',\n        PENDING_START:'Čeká na spuštění', RUNNING:'Probíhá', HOLDING_56V:'Balancuje baterii',\n        COMPLETED:'Dokončeno', CANCELLED:'Zrušeno', FAILED:'Chyba',\n        WAITING_MAINTENANCE_DAY:'Čeká na den údržby', WAITING_SOLAR_WINDOW:'Čeká na slunce',\n        WAITING_CAR:'Čeká na připojení auta', HEATING:'Ohřívá', CHARGING:'Nabíjí',\n        BALANCED:'Vybalancováno', BALANCING:'Probíhá balancování', BALANCE_DUE:'Balancování potřeba'\n    };\n    return m[String(st||'').toUpperCase()] || String(st || 'Neznámý stav');\n}\nfunction displayReason(r) {\n    const m = {\n        force_off:'Vypnuto', allowed_anytime:'Povoleno kdykoliv', nt_active:'Nízký tarif je aktivní',\n        waiting_for_nt:'Čeká na nízký tarif', unknown_mode:'Neznámý režim', target_soc_reached:'Cílové nabití dosaženo',\n        manual_force_battery_charge:'Ruční dobíjení baterie', balanced:'Baterie vybalancována', balanced_recently:'Baterie byla nedávno vybalancována',\n        holding_voltage:'Drží napětí pro balancování', charging_to_balance_voltage:'Nabíjí na balancovací napětí',\n        weekly_balance_mode_off:'Týdenní balanc vypnutý', weekly_balance_disabled:'Týdenní balanc zakázán', not_due:'Zatím není potřeba',\n        waiting_for_maintenance_day:'Čeká na den údržby', try_solar_first:'Nejdřív zkouší dobít ze slunce',\n        weekly_holding_voltage:'Týdenní balanc drží napětí', weekly_balance_grid_nt:'Týdenní balanc dobíjí v nízkém tarifu',\n        weekly_balance_grid_anytime:'Týdenní balanc dobíjí kdykoliv', force_active:'Ruční úkol běží', goal_reached:'Cíl dosažen',\n        car_not_connected:'Čeká na připojení auta', manual_force_wallbox_charge:'Ruční nabíjení auta', no_battery_task:'Žádný bateriový úkol',\n        cooldown_after_completion:'Po dokončení čeká do večera', cleanup_after_completion:'Úklid po dokončení úkolu'\n    };\n    return m[String(r||'')] || String(r || 'Bez důvodu');\n}\nfunction taskDisplayName(t) {\n    if (!t) return 'Žádný úkol';\n    if (t.type === 'battery_balance') return 'Force balanc';\n    if (t.type === 'weekly_battery_balance') return 'Týdenní balanc';\n    if (t.type === 'battery_charge') return 'Force baterie';\n    if (t.type === 'wallbox_force') return `Force ${t.label || t.id || 'auto'}`;\n    return t.label || t.type || 'Úkol';\n}\nfunction enrichDisplay(t) {\n    if (!t) return t;\n    t.status_display = displayStatus(t.status);\n    t.reason_display = displayReason(t.reason);\n    return t;\n}\nfunction nextEveningTs(ts = Date.now()) {\n    const d = new Date(ts);\n    d.setHours(18,0,0,0);\n    if (d.getTime() <= ts) d.setDate(d.getDate()+1);\n    return d.getTime();\n}\n\nlet ems = global.get('ems') || {};\nems.memory = ems.memory || {};\nems.memory.tasks = ems.memory.tasks || { history: [] };\nconst mem = ems.memory.tasks;\nmem.battery_completion = mem.battery_completion || {};\nconst core = ems.core || {};\nconst now = Date.now();\nconst voltage = n(s('sensor.easun_l2_easun_l2_battery_average_voltage'));\nconst soc = n(core.battery_soc);\nconst hdoNt = String(core.hdo_state || '').toUpperCase() === 'NT';\n\n// ---------- Battery balance state ----------\nconst balanceVoltage = n(s('input_number.ems_balance_voltage_threshold_v'), 56);\nconst balanceHoldMin = n(s('input_number.ems_balance_hold_minutes'), 30);\nconst balanceHoldMs = balanceHoldMin * 60 * 1000;\nmem.balance = mem.balance || { above_since: 0, last_success_ts: 0, last_success_voltage: 0 };\n\nif (voltage >= balanceVoltage) {\n    if (!mem.balance.above_since) mem.balance.above_since = now;\n} else {\n    mem.balance.above_since = 0;\n}\nconst balanceHoldMsDone = mem.balance.above_since ? now - mem.balance.above_since : 0;\nconst balanceHoldMinDone = round(balanceHoldMsDone / 60000, 1);\nconst balanceHoldOk = voltage >= balanceVoltage && balanceHoldMsDone >= balanceHoldMs;\nif (balanceHoldOk && (!mem.balance.last_success_ts || now - mem.balance.last_success_ts > 10 * 60 * 1000)) {\n    mem.balance.last_success_ts = now;\n    mem.balance.last_success_voltage = voltage;\n    mem.history.unshift({\n        type: 'battery_balance',\n        result: 'SUCCESS',\n        finished_ts: now,\n        voltage: round(voltage, 2),\n        hold_minutes: balanceHoldMinDone,\n        source: 'voltage_watcher'\n    });\n    mem.history = mem.history.slice(0, 20);\n}\n\nconst ageDays = mem.balance.last_success_ts ? (now - mem.balance.last_success_ts) / 86400000 : 999;\nconst weeklyEnabled = b('input_boolean.ems_weekly_battery_balance_enabled');\nconst dueDays = n(s('input_number.ems_balance_due_days'), 7);\nconst balanceFresh = ageDays <= dueDays;\nconst balanceDetectorStatus = balanceFresh ? 'BALANCED' : (voltage >= balanceVoltage ? 'BALANCING' : 'BALANCE_DUE');\nconst balanceDetectorReason = balanceFresh ? 'balanced' : (voltage >= balanceVoltage ? 'holding_voltage' : 'not_due');\nconst maintenanceDue = weeklyEnabled && !balanceFresh;\nconst maintenanceMode = mode('input_select.ems_weekly_battery_balance_mode');\nconst maintenanceDay = String(s('input_select.ems_weekly_battery_balance_day', 'SUNDAY')).toUpperCase();\nconst dayNames = ['SUNDAY','MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY'];\nconst todayName = dayNames[new Date(now).getDay()];\nconst isMaintenanceDay = maintenanceDay === 'ANY' || maintenanceDay === todayName;\nconst hour = new Date(now).getHours();\nconst solarWindow = hour >= n(s('input_number.ems_balance_solar_start_hour'), 9) && hour < n(s('input_number.ems_balance_solar_end_hour'), 17);\n\nfunction batteryProgress(extra='') {\n    const base = `${round(voltage,2)} V / ${balanceVoltage} V · ${balanceHoldMinDone} / ${balanceHoldMin} min`;\n    return extra ? `${extra} · ${base}` : base;\n}\nfunction enrichBatteryTask(t) {\n    t.active = isRunningStatus(t.status);\n    t.pending = String(t.status||'').startsWith('PENDING') || t.status === 'WAITING_MAINTENANCE_DAY' || t.status === 'WAITING_SOLAR_WINDOW';\n    t.grid_allowed = !!(t.active && t.grid_allowed);\n    t.waiting_reason = t.pending ? t.reason : null;\n    return t;\n}\n\n// ---------- Manual battery charge ----------\nconst batteryForceMode = mode('input_select.ems_force_battery_charge_mode');\nconst batteryForceTarget = n(s('input_number.ems_force_battery_target_soc'), 90);\nconst batteryForceCurrent = n(s('input_number.ems_force_battery_current_a'), 20);\nfunction buildBatteryChargeTask() {\n    const w = modeWindow(batteryForceMode, core);\n    const task_key = `battery_charge:${batteryForceMode}:${batteryForceTarget}:${batteryForceCurrent}`;\n    let t = {\n        type: 'battery_charge', task_key, mode: batteryForceMode, priority: 'HIGH',\n        target_soc: batteryForceTarget, current_a: batteryForceCurrent,\n        soc: round(soc,1), progress: `${round(soc,1)} / ${batteryForceTarget} %`,\n        status: w.status, reason: w.reason, grid_allowed: false\n    };\n    if (batteryForceMode === 'OFF') return enrichBatteryTask(t);\n    if (mem.battery_completion.cooldown_key === task_key && now < (mem.battery_completion.cooldown_until || 0)) {\n        t.status = 'COMPLETED'; t.reason = 'cooldown_after_completion';\n        t.cooldown_until = mem.battery_completion.cooldown_until;\n        return enrichBatteryTask(t);\n    }\n    if (soc >= batteryForceTarget - 0.2) {\n        t.status = 'COMPLETED'; t.reason = 'target_soc_reached'; return enrichBatteryTask(t);\n    }\n    if (!w.allowed) return enrichBatteryTask(t);\n    t.status = 'RUNNING'; t.reason = 'manual_force_battery_charge'; t.grid_allowed = true;\n    return enrichBatteryTask(t);\n}\nconst batteryChargeTask = buildBatteryChargeTask();\n\n// ---------- Manual battery balance ----------\nconst balanceForceMode = mode('input_select.ems_force_battery_balance_mode');\nconst balanceForceCurrent = n(s('input_number.ems_force_battery_balance_current_a'), 20);\nfunction buildManualBalanceTask() {\n    const w = modeWindow(balanceForceMode, core);\n    const task_key = `battery_balance:${balanceForceMode}:${balanceForceCurrent}:${balanceVoltage}:${balanceHoldMin}`;\n    let t = {\n        type: 'battery_balance', task_key, mode: balanceForceMode, priority: 'CRITICAL',\n        target_soc: 100, current_a: balanceForceCurrent, voltage: round(voltage,2),\n        threshold_v: balanceVoltage, hold_minutes_required: balanceHoldMin,\n        hold_minutes_done: balanceHoldMinDone, progress: batteryProgress(),\n        status: w.status, reason: w.reason, grid_allowed: false\n    };\n    if (balanceForceMode === 'OFF') return enrichBatteryTask(t);\n    if (mem.battery_completion.cooldown_key === task_key && now < (mem.battery_completion.cooldown_until || 0)) {\n        t.status = 'COMPLETED'; t.reason = 'cooldown_after_completion';\n        t.cooldown_until = mem.battery_completion.cooldown_until;\n        return enrichBatteryTask(t);\n    }\n    if (balanceFresh) { t.status = 'COMPLETED'; t.reason = balanceHoldOk ? 'balanced' : 'balanced_recently'; return enrichBatteryTask(t); }\n    if (!w.allowed) return enrichBatteryTask(t);\n    if (voltage >= balanceVoltage) {\n        t.status = 'HOLDING_56V'; t.reason = 'holding_voltage'; t.grid_allowed = true;\n    } else {\n        t.status = 'RUNNING'; t.reason = 'charging_to_balance_voltage'; t.grid_allowed = true;\n    }\n    return enrichBatteryTask(t);\n}\nconst manualBalanceTask = buildManualBalanceTask();\n\n// Weekly maintenance task: first try solar during maintenance day; if not done, allow grid according to mode.\nfunction buildWeeklyBalanceTask() {\n    const current = n(s('input_number.ems_weekly_battery_balance_current_a'), balanceForceCurrent);\n    const task_key = `weekly_battery_balance:${maintenanceMode}:${current}:${balanceVoltage}:${balanceHoldMin}:${maintenanceDay}`;\n    let t = {\n        type: 'weekly_battery_balance', task_key, mode: maintenanceMode, priority: 'CRITICAL',\n        target_soc: 100, current_a: current, voltage: round(voltage,2),\n        threshold_v: balanceVoltage, hold_minutes_required: balanceHoldMin,\n        hold_minutes_done: balanceHoldMinDone, progress: batteryProgress(),\n        age_days: round(ageDays,1), maintenance_day: maintenanceDay,\n        status: 'OFF', reason: 'not_due', grid_allowed: false, solar_only: false\n    };\n    if (!weeklyEnabled || maintenanceMode === 'OFF') { t.reason = weeklyEnabled ? 'weekly_balance_mode_off' : 'weekly_balance_disabled'; return enrichBatteryTask(t); }\n    if (balanceFresh) { t.status='COMPLETED'; t.reason=balanceHoldOk ? 'balanced' : 'balanced_recently'; return enrichBatteryTask(t); }\n    if (!maintenanceDue) { t.status='COMPLETED'; t.reason='balanced_recently'; return enrichBatteryTask(t); }\n    if (!isMaintenanceDay) { t.status='WAITING_MAINTENANCE_DAY'; t.reason='waiting_for_maintenance_day'; return enrichBatteryTask(t); }\n\n    if (solarWindow && !hdoNt) {\n        t.status = 'RUNNING'; t.reason = 'try_solar_first'; t.solar_only = true; t.grid_allowed = false;\n        return enrichBatteryTask(t);\n    }\n    const w = modeWindow(maintenanceMode, core);\n    if (!w.allowed) { t.status = w.status; t.reason = w.reason; return enrichBatteryTask(t); }\n    t.status = voltage >= balanceVoltage ? 'HOLDING_56V' : 'RUNNING';\n    t.reason = voltage >= balanceVoltage ? 'weekly_holding_voltage' : (maintenanceMode === 'FORCE_NT_ONLY' ? 'weekly_balance_grid_nt' : 'weekly_balance_grid_anytime');\n    t.grid_allowed = true;\n    return enrichBatteryTask(t);\n}\nconst weeklyBalanceTask = buildWeeklyBalanceTask();\n\n// ---------- Boiler force task builder ----------\nfunction boilerTask(prefix, label, tempSensor, defaultPower) {\n    const m = mode(`input_select.${prefix}_force_mode`);\n    const win = modeWindow(m, core);\n    const goal = String(s(`input_select.${prefix}_force_goal`, 'TIME')).toUpperCase();\n    const power = n(s(`input_number.${prefix}_force_power_w`), defaultPower);\n    const tempTarget = n(s(`input_number.${prefix}_force_target_temp`), 55);\n    const minutesTarget = n(s(`input_number.${prefix}_force_minutes`), 60);\n    const energyTarget = n(s(`input_number.${prefix}_force_energy_kwh`), 2);\n    const temp = n(s(tempSensor));\n    const key = prefix;\n    mem.boilers = mem.boilers || {};\n    mem.boilers[key] = mem.boilers[key] || { active_since: 0, energy_kwh: 0, last_ts: 0, last_mode: 'OFF' };\n    const bm = mem.boilers[key];\n\n    if (!win.allowed) {\n        bm.active_since = 0; bm.energy_kwh = 0; bm.last_ts = now; bm.last_mode = m;\n        return { active:false, pending:win.pending, status:win.status, mode:m, label, reason:win.reason, goal, power_w:power };\n    }\n    if (!bm.active_since || bm.last_mode !== m) { bm.active_since = now; bm.energy_kwh = 0; bm.last_ts = now; }\n    const dtH = Math.max((now - (bm.last_ts || now)) / 3600000, 0);\n    bm.energy_kwh += (power / 1000) * dtH;\n    bm.last_ts = now; bm.last_mode = m;\n\n    let done = false; let progress = '';\n    if (goal === 'TEMP') { done = temp >= tempTarget; progress = `${round(temp,1)} / ${tempTarget} °C`; }\n    else if (goal === 'TIME') { done = (now - bm.active_since) >= minutesTarget * 60000; progress = `${round((now-bm.active_since)/60000,1)} / ${minutesTarget} min`; }\n    else if (goal === 'ENERGY') { done = bm.energy_kwh >= energyTarget; progress = `${round(bm.energy_kwh,2)} / ${energyTarget} kWh`; }\n    else if (goal === 'NT_END') { done = ntOnly(m) && !hdoNt; progress = hdoNt ? 'do konce NT' : 'NT skončil'; }\n\n    if (done) {\n        mem.history.unshift({ type:key, result:'SUCCESS', finished_ts:now, goal, progress, energy_kwh:round(bm.energy_kwh,2) });\n        mem.history = mem.history.slice(0,20);\n        return { active:false, pending:false, completed:true, status:'COMPLETED', mode:m, label, reason:'goal_reached', goal, progress, power_w:power };\n    }\n    return { active:true, pending:false, status:'HEATING', mode:m, label, reason:'force_active', goal, progress, power_w:power, active_since:bm.active_since, energy_kwh:round(bm.energy_kwh,3), nt_only:ntOnly(m) };\n}\n\nconst bottomTask = boilerTask('ems_bottom_boiler', 'Spodní bojler', 'sensor.ems_bottom_boiler_top_temp', 1000);\nconst pergolaTask = boilerTask('ems_pergola_boiler', 'Pergola bojler', 'sensor.ems_pergola_boiler_temp', 800);\n\n// ---------- Wallbox force task builder ----------\nfunction wallboxTask(id, label, connected, socSensor, powerSensor, defaultTargetSoc) {\n    const prefix = `ems_${id}_wallbox`;\n    const m = mode(`input_select.${prefix}_force_mode`);\n    const win = modeWindow(m, core);\n    const goal = String(s(`input_select.${prefix}_force_goal`, 'SOC')).toUpperCase();\n    const current = Math.max(6, Math.min(16, Math.round(n(s(`input_number.${prefix}_force_current_a`), 6))));\n    const targetSoc = n(s(`input_number.${prefix}_force_target_soc`), defaultTargetSoc);\n    const minutesTarget = n(s(`input_number.${prefix}_force_minutes`), 30);\n    const energyTarget = n(s(`input_number.${prefix}_force_energy_kwh`), 5);\n    const carSoc = n(s(socSensor));\n    const measuredPowerW = Math.max(n(s(powerSensor), 0), 0);\n    const estimatePowerW = current * 230 * 3;\n    const activeMode = win.allowed;\n    mem.wallboxes = mem.wallboxes || {};\n    mem.wallboxes[id] = mem.wallboxes[id] || { active_since: 0, energy_kwh: 0, last_ts: 0, last_mode: 'OFF', last_goal: 'SOC' };\n    const wm = mem.wallboxes[id];\n\n    if (!activeMode) {\n        wm.active_since = 0; wm.energy_kwh = 0; wm.last_ts = now; wm.last_mode = m; wm.last_goal = goal;\n        return { active:false, pending:win.pending, status:win.status, type:'wallbox_force', id, label, mode:m, goal, reason:win.reason, current_a:current };\n    }\n    if (!connected) { wm.active_since = 0; wm.last_ts = now; return { active:false, pending:true, status:'WAITING_CAR', type:'wallbox_force', id, label, mode:m, goal, reason:'car_not_connected', current_a:current }; }\n    if (!wm.active_since || wm.last_mode !== m || wm.last_goal !== goal) { wm.active_since = now; wm.energy_kwh = 0; wm.last_ts = now; }\n\n    const dtH = Math.max((now - (wm.last_ts || now)) / 3600000, 0);\n    const powerW = measuredPowerW > 100 ? measuredPowerW : estimatePowerW;\n    wm.energy_kwh += (powerW / 1000) * dtH;\n    wm.last_ts = now; wm.last_mode = m; wm.last_goal = goal;\n\n    let done = false; let progress = '';\n    if (goal === 'SOC') { done = carSoc >= targetSoc; progress = `${round(carSoc,1)} / ${targetSoc} %`; }\n    else if (goal === 'ENERGY') { done = wm.energy_kwh >= energyTarget; progress = `${round(wm.energy_kwh,2)} / ${energyTarget} kWh`; }\n    else if (goal === 'TIME') { done = (now - wm.active_since) >= minutesTarget * 60000; progress = `${round((now-wm.active_since)/60000,1)} / ${minutesTarget} min`; }\n    else if (goal === 'NT_END') { done = ntOnly(m) && !hdoNt; progress = hdoNt ? 'do konce NT' : 'NT skončil'; }\n\n    if (done) {\n        mem.history.unshift({ type:`${id}_wallbox_force`, result:'SUCCESS', finished_ts:now, goal, progress, energy_kwh:round(wm.energy_kwh,2), soc:round(carSoc,1) });\n        mem.history = mem.history.slice(0,20);\n        return { active:false, pending:false, completed:true, status:'COMPLETED', type:'wallbox_force', id, label, mode:m, goal, reason:'goal_reached', progress, current_a:current, energy_kwh:round(wm.energy_kwh,3), soc:round(carSoc,1) };\n    }\n\n    return { active:true, pending:false, status:'RUNNING', type:'wallbox_force', id, label, mode:m, goal, priority:'HIGH', reason:'manual_force_wallbox_charge', current_a:current, grid_allowed:true, source:'GRID', progress, active_since:wm.active_since, energy_kwh:round(wm.energy_kwh,3), soc:round(carSoc,1), nt_only:ntOnly(m) };\n}\n\nconst id3WallboxTask = wallboxTask('id3', 'ID.3', !!core.id3_connected, 'sensor.auto_id4_sniffer_id3_soc_bms', 'sensor.tuya_wallbox_2_wallbox_total_power', n(s('input_number.ems_id3_target_soc'), 80));\nconst id4WallboxTask = wallboxTask('id4', 'ID.4', !!core.id4_connected, 'sensor.auto_id4_sniffer_id4_soc_bms', 'sensor.tuya_wallbox_1_wallbox_total_power', n(s('input_number.ems_id4_target_soc'), 80));\n[batteryChargeTask, manualBalanceTask, weeklyBalanceTask, bottomTask, pergolaTask, id3WallboxTask, id4WallboxTask].forEach(enrichDisplay);\nlet primaryWallboxTask = null;\nfor (const t of [id3WallboxTask, id4WallboxTask]) {\n    if ((t.active || t.pending) && (!primaryWallboxTask || (t.active && !primaryWallboxTask.active))) primaryWallboxTask = t;\n}\n\nlet primaryBatteryTask = null;\nfor (const t of [manualBalanceTask, weeklyBalanceTask, batteryChargeTask]) {\n    if ((t.active || t.pending) && (!primaryBatteryTask || (t.active && !primaryBatteryTask.active))) { primaryBatteryTask = t; break; }\n}\nif (!primaryBatteryTask) {\n    // Ukazuj dokončený/klidový stav nejdůležitějšího bateriového tasku místo prázdna.\n    if (manualBalanceTask.mode !== 'OFF') primaryBatteryTask = manualBalanceTask;\n    else if (batteryChargeTask.mode !== 'OFF') primaryBatteryTask = batteryChargeTask;\n    else if (weeklyBalanceTask.mode !== 'OFF') primaryBatteryTask = weeklyBalanceTask;\n}\n\nfunction batterySummary(t) {\n    if (!t) return 'Žádný bateriový úkol';\n    const name = taskDisplayName(t);\n    if (t.status === 'OFF') return 'Žádný bateriový úkol';\n    if (t.status === 'PENDING_NT') return `${name} čeká na začátek nízkého tarifu`;\n    if (t.status === 'PENDING_START') return `${name} čeká na spuštění`;\n    if (t.status === 'WAITING_MAINTENANCE_DAY') return `${name} čeká na den údržby`;\n    if (t.status === 'WAITING_SOLAR_WINDOW') return `${name} čeká na solární okno`;\n    if (t.status === 'RUNNING') return `${name} probíhá · ${t.progress || ''}`;\n    if (t.status === 'HOLDING_56V') return `${name} balancuje články · ${t.hold_minutes_done} / ${t.hold_minutes_required} min`;\n    if (t.status === 'COMPLETED' && t.reason === 'cooldown_after_completion') return `${name} dokončen · čeká do večera`;\n    if (t.status === 'COMPLETED') return `${name} dokončen · ${t.progress || displayReason(t.reason) || ''}`;\n    return `${name}: ${displayStatus(t.status)} · ${displayReason(t.reason)}`;\n}\nconst batteryTaskSummary = batterySummary(primaryBatteryTask);\nconst batteryTaskStatus = primaryBatteryTask?.status || 'OFF';\nconst batteryTaskReason = primaryBatteryTask?.reason || 'no_battery_task';\nconst batteryTaskKey = primaryBatteryTask?.task_key || `${primaryBatteryTask?.type || 'none'}:${primaryBatteryTask?.mode || 'OFF'}`;\nconst prevBatteryKey = mem.battery_completion.last_key;\nconst prevBatteryStatus = mem.battery_completion.last_status || 'OFF';\nconst prevBatteryWasRunning = isRunningStatus(prevBatteryStatus);\nlet cleanupRequest = null;\nif (primaryBatteryTask && primaryBatteryTask.status === 'COMPLETED' && primaryBatteryTask.type !== 'none' && prevBatteryKey === batteryTaskKey && prevBatteryWasRunning && mem.battery_completion.cleaned_key !== batteryTaskKey) {\n    const cooldownUntil = nextEveningTs(now);\n    cleanupRequest = {\n        id: `${batteryTaskKey}:${now}`,\n        task_key: batteryTaskKey,\n        task_type: primaryBatteryTask.type,\n        reason: primaryBatteryTask.reason,\n        cooldown_until: cooldownUntil,\n        created_ts: now,\n        action: 'battery_task_cleanup'\n    };\n    mem.battery_completion.cleaned_key = batteryTaskKey;\n    mem.battery_completion.cleanup_request = cleanupRequest;\n    mem.battery_completion.cooldown_key = batteryTaskKey;\n    mem.battery_completion.cooldown_until = cooldownUntil;\n    mem.history.unshift({ type: primaryBatteryTask.type, result: 'COMPLETED_CLEANUP', finished_ts: now, reason: primaryBatteryTask.reason, cooldown_until: cooldownUntil });\n    mem.history = mem.history.slice(0,20);\n} else if (mem.battery_completion.cleanup_request && !mem.battery_completion.cleanup_ack_ts) {\n    cleanupRequest = mem.battery_completion.cleanup_request;\n}\nmem.battery_completion.last_key = batteryTaskKey;\nmem.battery_completion.last_status = batteryTaskStatus;\nconst batteryCooldownActive = now < (mem.battery_completion.cooldown_until || 0);\n\nems.tasks = {\n    ts: now,\n    active: !!(primaryBatteryTask?.active || id3WallboxTask.active || id4WallboxTask.active || bottomTask.active || pergolaTask.active),\n    pending: !!(primaryBatteryTask?.pending || id3WallboxTask.pending || id4WallboxTask.pending || bottomTask.pending || pergolaTask.pending),\n    battery_primary: primaryBatteryTask,\n    battery_task: {\n        active: !!primaryBatteryTask?.active,\n        pending: !!primaryBatteryTask?.pending,\n        status: batteryTaskStatus,\n        status_display: displayStatus(batteryTaskStatus),\n        reason: batteryTaskReason,\n        reason_display: displayReason(batteryTaskReason),\n        summary: batteryTaskSummary,\n        type: primaryBatteryTask?.type || 'none',\n        mode: primaryBatteryTask?.mode || 'OFF',\n        progress: primaryBatteryTask?.progress || '',\n        current_a: primaryBatteryTask?.current_a || 0,\n        grid_allowed: !!primaryBatteryTask?.grid_allowed,\n        cleanup_request: cleanupRequest,\n        cooldown_active: batteryCooldownActive,\n        cooldown_until: mem.battery_completion.cooldown_until || 0\n    },\n    cleanup_request: cleanupRequest,\n    battery_cooldown_active: batteryCooldownActive,\n    battery_cooldown_until: mem.battery_completion.cooldown_until || 0,\n    battery_charge: batteryChargeTask,\n    battery_balance: manualBalanceTask,\n    weekly_battery_balance: weeklyBalanceTask,\n    wallbox: {\n        active: !!(id3WallboxTask.active || id4WallboxTask.active),\n        pending: !!(id3WallboxTask.pending || id4WallboxTask.pending),\n        primary: primaryWallboxTask,\n        id3: id3WallboxTask,\n        id4: id4WallboxTask\n    },\n    boiler_bottom: bottomTask,\n    boiler_pergola: pergolaTask,\n    balance_state: {\n        voltage: round(voltage, 2), threshold_v: balanceVoltage,\n        hold_minutes_required: balanceHoldMin, hold_minutes_done: balanceHoldMinDone,\n        above_since: mem.balance.above_since, last_success_ts: mem.balance.last_success_ts,\n        last_success: nowIso(mem.balance.last_success_ts), last_success_voltage: round(mem.balance.last_success_voltage, 2),\n        age_days: round(ageDays, 1),\n        status: balanceDetectorStatus,\n        status_display: displayStatus(balanceDetectorStatus),\n        reason: balanceDetectorReason,\n        reason_display: displayReason(balanceDetectorReason),\n        balanced: balanceFresh,\n        balance_success: !!mem.balance.last_success_ts,\n        detector_independent: true\n    },\n    history: mem.history.slice(0, 10)\n};\n\nglobal.set('ems', ems);\nmsg.topic = 'ems/tasks';\nmsg.retain = true;\nmsg.payload = ems.tasks;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["ems_task_debug","ems_task_mqtt","ems_task_log_out"]]},{"id":"ems_task_debug","type":"debug","z":"ems_tab_tasks","name":"global.ems.tasks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":80,"wires":[]},{"id":"ems_task_mqtt","type":"mqtt out","z":"ems_tab_tasks","name":"EMS Tasks MQTT","topic":"","qos":"","retain":"true","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"dfd2960398e9d1c1","x":750,"y":140,"wires":[]},{"id":"ems_task_log_out","type":"link out","z":"ems_tab_tasks","name":"LOG TASKS","mode":"link","links":["ems_debug_logger_in"],"x":715,"y":210,"wires":[]},{"id":"ems_cost_tick","type":"inject","z":"ems_tab_cost","name":"EMS cost tick 10s","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"8","topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["ems_cost_meter"]]},{"id":"ems_cost_meter","type":"function","z":"ems_tab_cost","name":"EV grid cost meter v1","func":"function n(v, def = 0) {\n    const x = Number(v);\n    return Number.isFinite(x) ? x : def;\n}\nfunction round(v, d = 3) {\n    const x = Number(v);\n    if (!Number.isFinite(x)) return v;\n    const m = Math.pow(10, d);\n    return Math.round(x * m) / m;\n}\nconst ha = global.get('homeassistant');\nconst states = ha?.homeAssistant?.states || {};\nfunction s(id, def = 0) { return states[id]?.state ?? def; }\nfunction isOn(id) { return states[id]?.state === 'on'; }\n\nlet ems = global.get('ems') || {};\nems.memory = ems.memory || {};\nems.memory.cost = ems.memory.cost || null;\nconst now = Date.now();\n\n// Init from HA MQTT sensors / helpers if Node-RED was restarted.\nif (!ems.memory.cost) {\n    ems.memory.cost = {\n        ts: now,\n        id3_grid_kwh: n(s('sensor.ems_id3_grid_energy_kwh')),\n        id3_grid_cost: n(s('sensor.ems_id3_grid_energy_cost')),\n        id4_grid_kwh: n(s('sensor.ems_id4_grid_energy_kwh')),\n        id4_grid_cost: n(s('sensor.ems_id4_grid_energy_cost'))\n    };\n}\nconst mem = ems.memory.cost;\nconst dtH = Math.max((now - (mem.ts || now)) / 3600000, 0);\nmem.ts = now;\n\nconst price = n(s('sensor.tman_parc_c_44_17_267_21_tman_aktualni_cena'));\nconst wallboxGrid = isOn('switch.wallbox_ts') || ems.wallbox?.transfer_switch === 'GRID';\n\nconst id3Charging = isOn('switch.tuya_wallbox_2_wallbox_charge_enable');\nconst id4Charging = isOn('switch.tuya_wallbox_1_wallbox_charge_enable');\nconst id3PowerW = Math.max(n(s('sensor.tuya_wallbox_2_wallbox_total_power')), 0);\nconst id4PowerW = Math.max(n(s('sensor.tuya_wallbox_1_wallbox_total_power')), 0);\n\nconst id3Count = wallboxGrid && id3Charging && id3PowerW > 100;\nconst id4Count = wallboxGrid && id4Charging && id4PowerW > 100;\n\nconst id3KwhDelta = id3Count ? (id3PowerW / 1000) * dtH : 0;\nconst id4KwhDelta = id4Count ? (id4PowerW / 1000) * dtH : 0;\n\nmem.id3_grid_kwh += id3KwhDelta;\nmem.id3_grid_cost += id3KwhDelta * price;\nmem.id4_grid_kwh += id4KwhDelta;\nmem.id4_grid_cost += id4KwhDelta * price;\n\nems.cost = {\n    ts: now,\n    price_kwh: price,\n    wallbox_grid: wallboxGrid,\n    id3: {\n        counting: id3Count,\n        power_w: Math.round(id3PowerW),\n        delta_kwh: round(id3KwhDelta, 4),\n        grid_energy_kwh: round(mem.id3_grid_kwh, 3),\n        grid_cost: round(mem.id3_grid_cost, 2)\n    },\n    id4: {\n        counting: id4Count,\n        power_w: Math.round(id4PowerW),\n        delta_kwh: round(id4KwhDelta, 4),\n        grid_energy_kwh: round(mem.id4_grid_kwh, 3),\n        grid_cost: round(mem.id4_grid_cost, 2)\n    }\n};\n\nglobal.set('ems', ems);\nmsg.topic = 'ems/cost';\nmsg.retain = true;\nmsg.payload = ems.cost;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["ems_cost_debug","ems_cost_mqtt","ems_cost_log_out"]]},{"id":"ems_cost_debug","type":"debug","z":"ems_tab_cost","name":"global.ems.cost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"ems_cost_mqtt","type":"mqtt out","z":"ems_tab_cost","name":"EMS Cost MQTT","topic":"","qos":"","retain":"true","respTopic":"","contentType":"application/json","userProps":"","correl":"","expiry":"","broker":"dfd2960398e9d1c1","x":700,"y":140,"wires":[]},{"id":"ems_cost_log_out","type":"link out","z":"ems_tab_cost","name":"LOG COST","mode":"link","links":["ems_debug_logger_in"],"x":675,"y":210,"wires":[]},{"id":"ems_ai_tick","type":"inject","z":"ems_ai_tab","name":"AI kontrola každou minutu","props":[],"repeat":"60","once":true,"onceDelay":"15","x":180,"y":80,"wires":[["ems_ai_event_gate"]]},{"id":"ems_ai_manual","type":"inject","z":"ems_ai_tab","name":"Ručně okomentuj stav","props":[{"p":"force","v":"true","vt":"bool"}],"repeat":"","once":false,"x":180,"y":140,"wires":[["ems_ai_event_gate"]]},{"id":"ems_ai_event_gate","type":"function","z":"ems_ai_tab","name":"Spustit jen při změně","func":"const ems = global.get('ems') || {};\nconst now = Date.now();\n\n// ignoruj prvních 90 s po startu/redeployi flow\nconst startedAt = context.get('startedAt') || now;\ncontext.set('startedAt', startedAt);\n\nif (now - startedAt < 90000 && !msg.force) {\n    return null;\n}\n\n// pokud EMS hlásí disabled jen krátce, nekomentuj to automaticky\nconst event = ems.ai_event || ems.last_event || ems.decision_reason || 'periodic_state';\n\nif (\n    !msg.force &&\n    String(event).includes('ems_disabled')\n) {\n    return null;\n}\n\nconst lastEvent = context.get('lastEvent');\nconst lastRun = context.get('lastRun') || 0;\n\n// Ruční inject projde vždy\nif (!msg.force) {\n    // Stejnou událost nekomentuj opakovaně\n    if (event === lastEvent) return null;\n\n    // Ochrana proti spamování AI\n    if (now - lastRun < 120000) return null;\n}\n\ncontext.set('lastEvent', event);\ncontext.set('lastRun', now);\nmsg.ems_event = event;\nmsg.ems_snapshot = ems;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["ems_ai_prepare"]]},{"id":"ems_ai_prepare","type":"function","z":"ems_ai_tab","name":"Připrav prompt pro Ollamu","func":"const ems = msg.ems_snapshot || {};\n\nconst slim = {\n  tariff_backend: ems.tariff_backend,\n  enabled: ems.enabled,\n  mode: ems.mode,\n  battery: ems.battery,\n  pv: ems.pv || ems.solar,\n  grid: ems.grid,\n  wallbox: ems.wallbox,\n  boiler: ems.boiler,\n  decision: ems.decision,\n  reason: ems.reason || ems.decision_reason || ems.last_reason\n};\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nmsg.payload = {\n  model: \"gemma3:4b\",\n  prompt:\n`Jsi domácí EMS analytik. Odpovídej pouze česky, stručně, maximálně 3 věty.\nNikdy si nevymýšlej údaje. Nikdy nepopisuj JSON ani jeho strukturu.\nŘekni, co se právě děje v domě a co doporučuješ.\n\nStav:\n${JSON.stringify(slim, null, 2)}`,\n  stream: false,\n  options: {\n    temperature: 0.1,\n    num_predict: 120\n  }\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":100,"wires":[["ems_ai_http"]]},{"id":"ems_ai_http","type":"http request","z":"ems_ai_tab","name":"Ollama gemma3:4b","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.200.5.122:11434/api/generate","persist":false,"authType":"","senderr":false,"headers":[],"x":930,"y":100,"wires":[["ems_ai_parse"]]},{"id":"ems_ai_parse","type":"function","z":"ems_ai_tab","name":"Výstup komentáře","func":"const text = (msg.payload && msg.payload.response) ? msg.payload.response.trim() : 'AI nevrátila odpověď.';\n\nmsg.topic = 'ems/ai/comment';\nmsg.payload = text;\n\nreturn msg;","outputs":1,"x":1170,"y":100,"wires":[["ems_ai_debug"]]},{"id":"ems_ai_debug","type":"debug","z":"ems_ai_tab","name":"EMS AI komentář","active":true,"tosidebar":true,"console":false,"complete":"payload","targetType":"msg","x":1400,"y":100,"wires":[]}]